[2019-10-21 20:40] stefansjs commented on #908
Can somebody help explain this to me? Is desktop/core/src/desktop/js/ko/components/ko.inlineAutocomplete.js a file on the web server, or on my local chrome installation? I'm unclear if I'm fixing this server-side or client-side

[2019-10-22 08:27] romainr commented on #908
It is on the webserver in the Hue project.
Also do not forget "after this, you need "make apps" to upgrade js webpack files." or run

[code]

https://docs.gethue.com/developer/development/#javascript

[2019-10-23 17:37] AndreyEmelyanenko opened #988 "Snippet type hive is not configured"
HI!

Installed hue 4.5 and hive 2.3.3. Trying to use hive via hue and get the error:
`snippet type hive is not configured`

How to fix, what's the problem?

Thanks in advance!

[2019-10-23 19:46] romainr commented on #988
Do you have this one uncommented in the hue.ini?
https://github.com/cloudera/hue/blob/master/desktop/conf.dist/hue.ini#L907

(or pseudo ini if using the dev version)

[2019-10-24 07:21] AndreyEmelyanenko commented on #988
Yes, my [[interpreters]] is below:

  # One entry for each type of snippet. The first 5 will appear in the wheel.
  [[interpreters]]
    # Define the name and how to connect and execute the language.
    [[[hive]]]
      # The name of the snippet.
      name=Hive
      # The backend connection to use to communicate with the server.
      interface=hiveserver2
    [[[text]]]
      name=Text
      i

[2019-10-24 07:29] AndreyEmelyanenko commented on #985
Yeah, the only solution I've found - run `npm install --no-bin-links` on host with internet, and then copy-paste `desktop/core/src/desktop/static/desktop/js/bundles/*` and `webpack-stats*` to the remote host. Looks like a fit workaround.

Just a wish - it would be excellent, if hue could be build without internet!
Thanks

[2019-10-24 07:29] #985 closed

[2019-10-24 11:05] AndreyEmelyanenko commented on #988
I guess, it may be caused by some problems with my build, but I can't define what's wrong.

[2019-10-24 13:59] #988 closed

[2019-10-24 14:02] AndreyEmelyanenko opened #989 "hue-hive.rpm is not built"
While building hue - rmp's for all components are build, except hive. There is no `hue-hive-4.5.0-1.el7.x86_64.rpm` at the end. What can cause it?

Any help is appreciated!

[2019-10-24 16:43] AndreyEmelyanenko commented on #989
Because it was absent in my hue.spec)

[2019-10-24 16:43] #989 closed

[2019-10-26 06:16] eubnara commented on #931
I cannot read file with plus sign on HUE 4. I worked in HUE 3.
I think it is similar to this issue.

[2019-10-28 03:17] eubnara commented on #931
https://github.com/eubnara/hue/commit/b907ad45e73102dec6ef428a4693fee4cebc65e7

I think there is a bug "tag/release-4.2.0". I made a change but cannot make a pull request.
This bug can be fixed as follows:

[code]

[2019-10-28 04:27] eubnara commented on #931
I think https://github.com/visionmedia/page.js/issues/306 issue is related

[2019-10-28 07:28] AndreyEmelyanenko opened #990 "TSocket read 0 bytes"
Facing error `TSocket read 0 bytes` while trying to use Databases tab in HUE 4.5. And `Error loading entries` instead Databases. In Administration tab I see:
`Hive | The application won't work without a running HiveServer2.`
thrift server is running.
Need help..

[2019-10-28 08:37] romainr commented on #990
Please use https://discourse.gethue.com/ for debugging/usage questions

[2019-10-28 08:37] #990 closed

[2019-10-28 08:40] romainr commented on #955
Fixed in https://github.com/cloudera/hue/commit/979aeea1cb718db8776430c4cb67086c1dbd39a3

[2019-10-28 08:40] #955 closed

[2019-10-29 09:24] zevektor commented on #898
Hi,

I am experiencing the same problem on the EMR 5.24.0 version that comes with Hue 4.4.0.

I applied the changes suggested in #904 but the issue still persists.

[2019-10-29 09:25] qianxuanyon commented on #569
1. $.totalStorage("hue.ace.theme", "ace/theme/tomorrow_night")
![image](https://user-images.githubusercontent.com/29041881/67753858-5cb29780-fa70-11e9-9524-f6d9839925f4.png)

2. Refresh the browser  no effect
![image](https://user-images.githubusercontent.com/29041881/67754020-ac915e80-fa70-11e9-9b56-fb552f35b2ea.png)

[2019-10-29 11:17] romainr commented on #569
How about the bottom section of http://gethue.com/additional-sql-improvements-in-hue-4-3/? (only for editor indeed so far)

[2019-10-29 13:07] romainr commented on #898
Should be this one https://github.com/cloudera/hue/pull/960#issuecomment-541232722

[2019-10-29 13:55] zevektor commented on #898
Thanks for the hint, @romainr!
#960 slightly changes the behavior of the horizontal scrollbar, but it still instantly scrolls to the right and the preview data is still not shown for the columns to the right.

[2019-10-29 16:18] zevektor commented on #969
I think this could be related to issue #898 as I'm seeing similar errors in my JavaScript console.

[2019-10-29 16:33] romainr commented on #969
+1, there was a few bad bugs on the horizontal scrolls. Should be good in master of upcoming 4.6 release

[2019-10-30 16:42] romainr commented on #972
Thanks for the infos and should get much simpler after https://issues.cloudera.org/browse/HUE-8737

[2019-11-05 05:53] swordspoet commented on #898
I am using Hue 4.2.0, there is still not shown preview data after changing.

[2019-11-06 13:07] zevektor commented on #898
@swordspoet Hue 4.2.0 was working fine for us.

[2019-11-12 10:00] singhsolanki opened #994 "[oozie] Can't submit Coordinator. Showing 500 Server error"
While submitting an Oozie Coordinators , I received 500 ERROR from Hue UI . But the workflow works well when I submitted it manually . This error only happened when i submit it with a coordinator .
CM/CDH version 5.8.2
Hue Ver. 3.10

Take a look in Hue error log , i've found this message :
[hue.zip](https://github.com/cloudera/hue/files/3835476/hue.zip)

[2019-11-13 06:08] kebyn commented on #760
- [HUE-WebUI-doesn-t-launch](https://community.cloudera.com/t5/Support-Questions/HUE-WebUI-doesn-t-launch/td-p/12712/page/2)
- This is my solution
![image](https://user-images.githubusercontent.com/9145323/68737551-bf826200-061e-11ea-9234-9a285ac6d4e0.png)

[2019-11-17 14:37] ganborui opened #995 "Results have expired, rerun the query if needed"
When I use hue to connect to hiveserver2 for queries, it often happens in a few minutes: Results have expired, rerun the query if needed

What is the reason, Is there a way to help solve it?

[2019-11-17 15:36] romainr commented on #995
https://discourse.gethue.com/t/results-have-expired-rerun-the-query-if-needed/59

[2019-11-17 15:36] #995 closed

[2019-11-20 03:36] Tu-maimes opened #997 "Where to download the mirror file of hue-4.5.0.tgz"
hue-4.5.0.tgz

[2019-11-20 05:06] Tu-maimes opened #998 "JDBC Does not switch databases"
![image](https://user-images.githubusercontent.com/31128536/69210506-e815d900-0b95-11ea-9467-eb5f0be0ba8e.png)

[2019-11-20 05:25] romainr commented on #997
On https://cdn.gethue.com/downloads/hue-4.5.0.tgz

Will fix https://gethue.com/hue-4-5-and-its-improvements-are-out/

[2019-11-20 05:25] #997 closed

[2019-11-20 05:33] romainr commented on #998
What is your JDBC connection URL used in the interpreter?

Would recommend the SqlAlchemy dialect https://docs.gethue.com/administrator/configuration/connectors/#mysql

[2019-11-20 09:49] wjn0918 commented on #202
我也遇到同样的问题，应该是系统中没有安装pip（https://pip.pypa.io/en/stable/installing/），可以安装后再尝试

[2019-11-20 16:50] AndreyEmelyanenko opened #999 "404 when create new hive table"
Hi!

When in HUE click 'Tables' tab and then small plus-icon, saying 'Create table' in Hive - I get "404 Page not found". But at the same time I can create Databases and tables via big buttons on the right, like '+ New', and via query in hive editor. What's the problem?
Thanks in advance
HUE 4.5
Hive 2.3.3

Andrey

[2019-11-21 09:11] AndreyEmelyanenko commented on #999
URL under plus-button: http://localhost:8888/hue/False/?sourceType=hive&namespace=default
correct URL should be: http://localhost:8888/hue/indexer/importer/prefill/manual/database//?sourceType=hive&namespace=default&compute=default

[2019-11-26 02:13] haoziyunwei opened #1000 "hue connect presto Problems encountered"
java.lang.ClassNotFoundException: com.facebook.presto.jdbc.PrestoDriver

"An error occurred while calling z:java.lang.Class.forName.
: java.lang.ClassNotFoundException: com.facebook.presto.jdbc.PrestoDriver
	at java.net.URLClassLoader.findClass(URLClassLoader.java:382)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:418)
	at sun.misc.Launcher$AppClassLoader.loadClass(Launcher.java:352)
	at ja

[2019-11-27 01:27] haoziyunwei commented on #1000
/usr/share/hue/desktop/libs/librdbms/src/librdbms/jdbc.py
 classpath=classpath+':/opt/presto-jar/presto-jdbc-325.jar'

[2019-11-27 01:30] haoziyunwei commented on #1000
JavaObject object is not an iterator
hue connect presto 提示 JavaObject object is not an iterator
但是presto数据是能看到的

[2019-11-29 18:20] funes79 opened #1003 "HUE AD LDAP group import users does not work with comma characters"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?
No

What is the Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...)
CDH 5.16

Is there a way to help reproduce it?
Yes, create a user in Active Directory with *comma* (\2C) in the cn and try to import a group where this user is a member.
For example:
* user

[2019-11-30 21:00] romainr commented on #1000
In case it helps, using the SqlAlchemy connector is the recommended way: https://docs.gethue.com/administrator/configuration/connectors/#apache-presto

[2019-11-30 21:00] #1000 closed

[2019-12-02 07:37] fsilent opened #1004 "hue install with python3.7.3 errors"
= proxy v.4.5.0 is already installed
=== Installing app at rdbms
=== rdbms v.4.5.0 is already installed
=== Installing app at search
=== search v.4.5.0 is already installed
=== Installing app at security
=== security v.4.5.0 is already installed
=== Installing app at spark
=== spark v.4.5.0 is already installed
=== Installing app at sqoop
=== sqoop v.4.5.0 is already installed
=== Installing app a

[2019-12-02 19:35] romainr commented on #1004
Problem with `async` keyword now reversed in 3.7?

One solution could rename to `async_` or `is_async`.

@wing2fly FYI

[2019-12-03 02:26] fsilent commented on #1004
I modify the code and success, but find another problem when execute:build/env/bin/supervisor
Traceback (most recent call last):
  File "build/env/bin/supervisor", line 11, in <module>
    load_entry_point('desktop', 'console_scripts', 'supervisor')()
  File "/home/hue-master/desktop/core/src/desktop/supervisor.py", line 326, in main
    pidfile_context = TimeOutPIDLockFile(pid_file, LOCKFILE_TIME

[2019-12-03 19:06] wing2fly commented on #1004
I am working on py3 tests, and I will check this one.

[2019-12-03 23:43] zz22394 opened #1006 ""Add more" url is broken"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

What is the Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...)
CDP 1.0 (Cloudera Runtime 7.0.3)

Is there a way to help reproduce it?
<img width="414" alt="image" src="https://user-images.githubusercontent.com/516268/70099409-21f4de00-1672-11ea-8299-ea797

[2019-12-03 23:45] zz22394 commented on #1006
The URL should be
https://gethue.com/new-sql-editor/

[2019-12-05 01:20] romainr commented on #1006
https://github.com/cloudera/hue/pull/1007?email_source=notifications&email_token=AAAEMGJQHN4D636MZ6CMFCTQW3XVLA5CNFSM4JVAQZY2YY3PNVWWK3TUL52HS4DFUVEXG43VMWVGG33NNVSW45C7NFSM4H53AVAA

[2019-12-05 01:20] #1006 closed

[2019-12-05 08:59] fsilent opened #1008 "how to upgrade database when upgrade hue 3.11.0 to 4.5.0"
hello, i used hue 3.11.0 and pstgresql database， now i want to upgrade hue to 4.5.0 version。
how can i upgrade database?

[2019-12-05 15:39] romainr commented on #1008
./build/env/bin/hue migrate

Will run the migrations. As usual, do a backup of the DB before just in case

On Thu, Dec 5, 2019, 5:59 AM fsilent <notifications@github.com> wrote:

[2019-12-06 03:15] fsilent commented on #1008
3ku(thank you)

[2019-12-06 03:15] #1008 closed

[2019-12-06 21:08] bowenli86 opened #1010 "add Apache Flink connector to Hue"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

no

What is the Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...)

n/a

Is there a way to help reproduce it?

n/a

[2019-12-06 21:18] romainr commented on #1010
+1

Probably 2 ways:

1. Flink adds a dialect for SqlAlchemy and it should work in Hue without major changes
2. We add/use the Flink Python SQL API in Hue
https://ci.apache.org/projects/flink/flink-docs-release-1.9/dev/table/common.html#query-a-table
Similarly to KSQL https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/connectors/ksql.py (more work but easy/basic impleme

[2019-12-06 22:11] bowenli86 commented on #1010
@romainr thanks for the quick response! I'm excited about the partnership between Clourdera and Flink formed this Oct.

I think option 2 is doable now.

For option 1, some questions since I'm not familiar with SqlAlchemy - does it requires Flink to have a jdbc server (Flink doesn't have one yet), or do we just need to add SqlAlchemy dialect to Flink? Flink supports its calcite dialect and Hive dia

[2019-12-07 11:30] romainr commented on #1010
Option 1: it requires a way to communicate via Python, be it with REST, Thrift... Today, if we want to send a query via a Python program, how would we do? (JDBC is for Java, not Python).

Some examples:
- PyHive is using Hive Thrift: https://github.com/dropbox/PyHive/blob/master/pyhive/hive.py
- PyDruid is using REST: https://github.com/druid-io/pydruid/tree/master/pydruid/db, Presto also REST...

[2019-12-08 18:52] bowenli86 commented on #1010
Got you. Option 1 probably isn't feasible at this moment since Flink doesn't have such a thrift/rest server yet, though we are looking into it.

I agree option 2 is the way to go before Flink thrift server is available. Would be great if you can add the skeleton and I can help review and test!

[2019-12-09 22:17] romainr commented on #1010
Skeleton for Option 2 is in review, as well as the SQL Autocomplete + Highlighter skeletons.

e.g. for the connector: https://github.com/cloudera/hue/blob/testing-romain/desktop/libs/notebook/src/notebook/connectors/flink.py#L120

Note: maybe Option 1 can be ported to SqlAlchemy at some point too, what matters is to have a fair RPC via Python to Flink. At least Option 1 is easy to experiment with.

[2019-12-10 02:11] swordspoet opened #1012 "The active request is running high"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

No.

What is the Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...)

CDH 6.3.1 Hue4.2

Is there a way to help reproduce it?

No.

Our team have met a problem when using hue recently, that the active requests is running very high and directly let hue canno

[2019-12-10 03:30] okman1214 opened #1013 "Notebook,json-serde-1.3.8.jar changed on src filesystem,task was killed"
When I execute two queries simultaneously, the first query is killed

error:
org.apache.hive.service.cli.HiveSQLException: Error while processing statement: FAILED: Execution Error, return code 2 from org.apache.hadoop.hive.ql.exec.tez.TezTask. Vertex failed, vertexName=Map 1, vertexId=vertex_1575946186177_0003_1_00, diagnostics=[Task failed, taskId=task_1575946186177_0003_1_00_000000, diagnostics

[2019-12-10 03:32] #1013 closed

[2019-12-10 03:37] okman1214 opened #1014 "Notebook on tez,json-serde-1.3.8.jar changed on src filesystem,task was killed"
envirment：
hadoop/yarn 2.7.3
hive 2.3.2
hue 3.12.0
tez 0.8.5

when i execut two sql simultaneously at notebook，the first task print error.

error detail:
org.apache.hive.service.cli.HiveSQLException: Error while processing statement: FAILED: Execution Error, return code 2 from org.apache.hadoop.hive.ql.exec.tez.TezTask. Vertex failed, vertexName=Map 1, vertexId=vertex_1575946186177_0003_1_00, diag

[2019-12-10 11:45] romainr commented on #1014
You would need to change this parameter https://github.com/cloudera/hue/blob/master/desktop/conf.dist/hue.ini#L1246 until
 https://issues.cloudera.org/browse/HUE-9100 gets in.

[2019-12-10 11:45] #1014 closed

[2019-12-10 15:23] Faiz2 opened #1015 "hue Integrate spark thrift server query hive data"

[2019-12-10 17:26] okman1214 commented on #1014
@romainr
thanks a lot
but,I want to know how it effect in my environment hue 3.12.0?
which branch or tag code i will be merge?

[2019-12-10 18:02] romainr commented on #1014
It will be in master or the future Hue 4.7

[2019-12-10 20:51] romainr commented on #1015
https://docs.gethue.com/administrator/configuration/connectors/#apache-spark-sql ?

[2019-12-10 22:35] sbaudoin opened #1016 "Error in log files on resource /desktop/workers/aceSqlSyntaxWorker.js?v=4.4.0"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?
Not as far as I could search for it

What is the Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...)
Open source 4.3 and 4.4

Is there a way to help reproduce it?
On every login/everytime the browser requests /desktop/workers/aceSqlSyntaxWorker.js?v=4.4.0

[2019-12-10 22:54] sbaudoin commented on #1016
Forget about that, there is a fix: https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/lib/django_util.py#L225 (coming from https://github.com/cloudera/hue/commit/d0c74976b9c79c838f371d8047558cea8ab98f4c)

[2019-12-10 22:54] #1016 closed

[2019-12-11 01:28] okman1214 commented on #1014
@romainr  So whether the master branch can fit for envirment?
envirment：
hadoop/yarn 2.7.3
hive 2.3.2
tez 0.8.5

[2019-12-11 11:34] Faiz2 commented on #1015
thank you , I try to configure and install thrift_sasl got this error
![image](https://user-images.githubusercontent.com/18616592/70618223-3d04b680-1c4d-11ea-9641-94f1b75c7309.png)

[2019-12-11 11:49] romainr commented on #1014
Yes, the APIs there are good

[2019-12-11 21:17] TylerKapushinski commented on #418
I'm having this same problem on RHEL7.  Here are my dependencies:
[code]

But when I try to install:

[code]

Any suggestions?

[2019-12-14 06:33] zoveedong opened #1017 "Table Browser cannot add column description"
Table Browser does not display column descriptions and errors occur when manually adding comments.

version:cdh hue4.3.0

![image](https://user-images.githubusercontent.com/19286291/70844551-f0ec8880-1e7d-11ea-8f8c-e7ba91e0c098.png)

/var/log/hue/runcpserver.log：

1:34:07 PM	ERROR	exception
Internal Server Error: /hue/
Traceback (most recent call last):
  File "/opt/cloudera/parcels/CDH-6.2.0-1.cd

[2019-12-16 04:11] attomos commented on #453
@chozee how did you solve it?

[2019-12-16 07:51] ganborui opened #1018 "[hue4.5]About the problem that GatewayServer cannot be closed after using presto query"
version - hue4.5
Each new user starts a GatewayServer process after using a presto query. How can these processes be closed?

[2019-12-16 11:20] romainr commented on #1018
Now using SqlAlchemy with pyhive is recommended instead, hav you tried it? https://docs.gethue.com/administrator/configuration/connectors/#apache-presto

[2019-12-16 14:23] ganborui commented on #1018
Can I directly modify the use of hue.ini in the hue4.5 version? Or do I need to download the latest code and compile it before using it?

[2019-12-16 14:24] ganborui commented on #1018
Can I directly modify the use of hue.ini in the hue4.5 version? Or do I need to download the latest code and compile it before using it?

[2019-12-16 14:24] ganborui commented on #1018
Can I directly modify the use of hue.ini in the hue4.5 version? Or do I need to download the latest code and compile it before using it?

[2019-12-16 23:28] romainr commented on #1018
Yes, just modify it, just need to restart Hue

On Mon, Dec 16, 2019, 9:24 AM Gan <notifications@github.com> wrote:

[2019-12-17 01:32] ajay25 opened #1019 "Configuring hue to work with knox"
Environment:
Knox 1.3.0
Hue 4.5
Hive 2.3.6
All of apps are kerberized.

In my setup, Knox intercepts all the requests to Hue and after successful auth redirects the calls with signed cookie to Hue.

As part of this, I updated following in hue.ini:
[[knox]]
knox_principal=knox@EC2.INTERNAL
knox_ports=8442
knox_proxyhosts={hostname}:{port}

[[auth]]
backend=desktop.auth.backend.KnoxSpnegoDjangoBacke

[2019-12-17 03:12] ganborui commented on #1018
Thank you very much, the problem has been successfully solved

[2019-12-17 07:41] ganborui opened #1020 "[sqlalchemy] Only keep the last query open"
When connecting presto through sqlalchemy, each query will generate a new uuid and save all previous results, which is not reasonable.

[code]

change guid = self.user.username Is it better？

[2019-12-17 09:14] ZHUVV opened #1021 "how to disable ssl renegotiate"
hi all:
I am trying to fix Client-Initiated renegotiation of TLS/SSL.
It is suggested to disable tls nenegotiation.
But how to disable it??

[2019-12-17 11:40] romainr commented on #1020
For sure if the close query fails, the cache stays there forever.

Those should fix that but it is not ready yet:
-  Task Server workers HUE-8738
-  Result caching and storage HUE-8787

@jdesjean maybe there is a way to pickle the ids into Django cache that automatically support expirations or make the cache a FIFO? Or just keep the previous query like suggested above?

[2019-12-17 17:19] jdesjean commented on #1021
We currently don't have a setting for this and it's only available in python 3.7 https://docs.python.org/3/library/ssl.html#ssl.OP_NO_RENEGOTIATION which we don't currently officially support.

[2019-12-17 18:00] jdesjean commented on #1021
I added new jira and patch for this: https://issues.cloudera.org/browse/HUE-9106

[2019-12-17 19:59] jdesjean commented on #1019
I'm not sure what the problem is. The stack trace you shared is not related to listing databases. Are there any other errors in the logs?

You mention that all apps are kerberized, but I'm curious, what is the authentication between Knox & Hue? I see from the stack trace that doAs=myuser is passed. However, when kerberos between Knox & Hue is enabled (HadoopGroupProvider in Knox term), the user is

[2019-12-18 23:40] ajay25 commented on #1019
@jdesjean thanks for looking into this.
I have pasted the logs here- https://gist.github.com/ajay25/484f156f984cd29027c13ecbf7f7c369

I'm using the "desktop.auth.backend.KnoxSpnegoDjangoBackend" as auth mechanism between knox and hue.
As you can see in the gist, "myuser" is able to successfully login and hdfs directory is created using spnego protocol.
All the subsequent calls are made with "myuse

[2019-12-19 02:56] #1018 closed

[2019-12-19 17:51] jdesjean commented on #1019
A couple things
1) From the log pasted, I see a statement about Impala being disabled. That would be worth looking into.
2) While KnoxSpnegoDjangoBackend is enabled from Hue side, kerberos needs to be enabled from the Knox side as the authentication mechanism between Knox & Hue. When doAs is passed as a parameter in the URL to Hue, this tells me that kerberos is currently not enabled. My understan

[2019-12-19 19:25] jdesjean commented on #1021
I pushed commit for HUE-9106, closing this for now.

[2019-12-19 19:25] #1021 closed

[2019-12-19 22:56] ajay25 commented on #1019
1. For impala, I looked through the code and it seems the warning is just a notification to user. I even disabled the impala app/ comment the line where it tries to import the impala module, still nothing.

2.  I didn't see any errors but still I'll investigate more on why the auth failed with kerberos. Also will do some background reading on doAs and in general kerberos auth in knox as I don't se

[2019-12-19 23:07] ajay25 commented on #1019
For KnoxSpnegoBackend, Hue expects Knox to pass the doAs param- https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/auth/backend.py#L624
I'm not sure what you mean by "doAs is only passed as parameter when kerberos is not enabled".

IMO the authentication is working fine because hue prints out these-
[18/Dec/2019 12:16:29 -0800] backend      INFO     Materializing user myuser in t

[2019-12-20 00:05] jdesjean commented on #1019
Did you the Hue login page?

[2019-12-20 00:08] ajay25 commented on #1019
nope. From knox, it redirects to Idp page and from there on it directly logs me in as "myuser" in hue

[2019-12-20 08:02] oslet opened #1022 "[hue4.6]editor has permissions"
What is the Hue version or source ?
=> hue4.6

os ?
=> Centos 7.6 x86-64

desc ?
 => I cancelled default group All permissions, but user have edit permission after login
how to do no permissions, no login ,  like hue 3.12 ver ?

[2019-12-20 08:23] fsilent opened #1023 "hue 4.6.0 install error"
![image](https://user-images.githubusercontent.com/9815890/71240883-34933680-2345-11ea-8add-65468c5ae623.png)

npm install error

[2019-12-20 15:38] romainr commented on #1023
Looks like a connecion timeout? Have you retried?

[2019-12-20 15:40] romainr commented on #1022
It did not change in Hue 4, your user is probably a Hue admin, you can uncheck the box on its profile

[2019-12-21 04:10] oslet commented on #1022
Maybe what I described is not clear,　the view module is  editor, Please look picture,
![3](https://user-images.githubusercontent.com/1573303/71302812-c6a14a80-23ea-11ea-8338-332ce7bbf1b0.png)
![2](https://user-images.githubusercontent.com/1573303/71302813-cc972b80-23ea-11ea-952d-496b33c12f5a.png)
![1](https://user-images.githubusercontent.com/1573303/71302814-cf921c00-23ea-11ea-8e01-ee068123c498.p

[2019-12-21 12:46] robertgates55 opened #1024 "How to build impala and hdfs images for helm charts"
I was hoping to use the helm charts in tools/kubernetes/helm to get me started with a simple impala cluster. However, it doesn't look like the images are available publicly anywhere; nor can I find the Dockerfiles to build them from source.

Any clues?

[2019-12-21 18:20] romainr commented on #1024
Unfortunately those are out of scope of Hue for now. Would recommend to ask on each project community list instead.

[2019-12-21 18:20] #1024 closed

[2019-12-23 02:33] #1023 closed

[2019-12-23 18:17] romainr commented on #1022
Looks like it is with a custom interpreter that is not Hive/Impala, so it is probably not supported currently. You probably need to tweak https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/conf.py#L41 until https://issues.cloudera.org/browse/HUE-8758 gets in.

[2019-12-24 05:53] oslet commented on #1022
Thank you, I get it

[2019-12-24 05:53] #1022 closed

[2019-12-26 16:54] alericmckearn opened #1025 "modal-backdrop in front of modal form"
modal-backdrop in front of modal form
![Screen Shot 2019-12-26 at 8 27 42 AM](https://user-images.githubusercontent.com/6674285/71482874-b0640780-27b9-11ea-8a98-67930c5a4c83.png)

modal-backdrop z-index - 1040
![Screen Shot 2019-12-26 at 8 10 16 AM](https://user-images.githubusercontent.com/6674285/71482954-37b17b00-27ba-11ea-8471-c87720902c60.png)

input box z-index - 1050
![Screen Shot 2019-12-2

[2019-12-28 00:15] ajay25 commented on #1019
Almost all the POST requests to notebook and jobbrowser APIs are missing the request body.
For eg. in above case, jobbrowser API expect the format to be set to "json" but since that is missing, it follows a different code path and ultimately throws this error.

This seems similar to the issue mentioned here- https://community.cloudera.com/t5/Support-Questions/Knox-POST-request-dropping-Request-Bod

[2019-12-28 11:32] Faiz2 commented on #1015
Recompile in Linux and Connect using jdbc
Connect using jdbc

[2019-12-28 11:32] #1015 closed

[2019-12-28 11:35] Faiz2 opened #1026 "I tried to make apps on Mac and encountered the following error"
Sorry i don't have good english

Mac OS Catalina 10.15.2 (19C57)
Python 2.7.17
and executed
brew install openssl
and executed
`export LDFLAGS="-L/usr/local/opt/openssl@1.1/lib"`
`export CPPFLAGS="-I/usr/local/opt/openssl@1.1/include"`
brew install mysql@5.7
and set env config

executed `make apps`
Received the following error：
`
            ^
278 warnings generated.
cc -bundle -undefined dynamic_l

[2019-12-28 12:47] romainr commented on #1026
Weird, are the ssl file paths valid? (Same error with or without the 2 variables expored?)
https://docs.gethue.com/administrator/installation/dependencies/#macos

[2019-12-28 13:24] romainr commented on #1025
Thanks for the report! +1 to remove the z-index if it fixes it. Would you send a pull request?

[2019-12-28 16:41] Faiz2 commented on #1026
@romainr thanks
problem solved，but executed npm install received the following error：
`> fsevents@1.2.11 install /Users/qianpeng/worker/hue-release-4.6.0/node_modules/fsevents

  SOLINK_MODULE(target) Release/.node
  CXX(target) Release/obj.target/fse/fsevents.o
../fsevents.cc:9:10: fatal error: 'CoreFoundation/CoreFoundation.h' file not found
#include "CoreFoundation/CoreFoundation.h"
         ^~

[2019-12-28 21:49] jdesjean commented on #1019
@ajay25, we have not run into this issue.
Could you try setting knox/gateway/conf/gateway-log4j.properties
```log4j.logger.org.apache.knox.gateway=DEBUG```
and attach the log?

I did the same on my side and it looks like this
[code]

[2019-12-29 09:47] Faiz2 commented on #1026
hi @romainr
I have solved the environmental problem，but executed `make apps`received the following error：
`
  ~/worker/hue-release-4.6.0  sudo make apps                                                           ✔ | docker-desktop ⎈ 
"PYTHON_VER is python2.7"
cd /Users/qianpeng/worker/hue-release-4.6.0/maven && mvn install
[INFO] Scanning for projects...
[INFO]
[INFO] --------------------< com.

[2019-12-29 11:51] romainr commented on #1026
What did you do to fix the previous problem?

How about doing a clean rebuild to try to see if the 'Abort trap: 6' error is there?

[2019-12-30 22:57] ajay25 commented on #1019
Pasted here- https://gist.github.com/ajay25/dceffec2e834ab4ec9a844055dc02c91
I'm pretty sure now that auth is not an issue.

I added some log statements here- https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/api.py
(ones starting with 'AJ')

For eg: when I click on refresh databases under SparkSql:

[code]

I can see the payload in the browser for the above autocomple

[2019-12-31 07:32] HSunboy opened #1027 "[parse] Support Impala String Functions"
Including impala string function in the sql will get a syntax error
![image](https://user-images.githubusercontent.com/14886044/71613613-7bedb280-2be2-11ea-80cb-55517746a96d.png)

version 4.6

[2019-12-31 07:59] romainr commented on #1027
Indeed, those would need to be update (.1 for fixing the red error):

- the Grammar https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/js/parse/jison/sql/impala/sql.jisonlex#L417
- the UDF builtin reference (nice to have)
- the builtin reference https://docs.gethue.com/developer/development/#documentation (nice to have)

There is some help here, but a "how to add a UDF" tutorial

[2019-12-31 17:41] Faiz2 commented on #1026
@romainr
The problem is solved, Mac OS Catalina 10.15.2 lost a lot of * .h files due to a too high system version. Trying to link from` /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk `to `/ usr / include` also does not work. I had to downgrade the system. Now the problem is solved and running normally. This is not a good solution, but it works for me. Hope someone can provide a better solutio

[2019-12-31 17:41] #1026 closed

[2020-01-01 05:29] romainr commented on #1026
Thanks for feedback, we will see when the team members upgrade their Mac OS, and hopefully the Python 3 will be ready soon with less direct dependencies to simplify

[2020-01-01 06:51] Faiz2 commented on #1026
Oh that's great, i'm looking forward😊

[2020-01-03 00:06] ajay25 commented on #1019
This only happens when we try to access Hue through knox. Direct access works fine (doesn't use any transfer encoding).

[2020-01-06 03:30] fsilent commented on #1004
Is this test on Python3.7.3? @wing2fly
I use Python 3.7.3 and finds some errors.
![hue](https://user-images.githubusercontent.com/9815890/71793316-657aa780-3077-11ea-8c9c-d7b5b8b38aac.png)
I try to pip install lxml==3.3.6, and find
![image](https://user-images.githubusercontent.com/9815890/71793348-7fb48580-3077-11ea-9c1f-bb64d7bbdbe1.png)
And then I tried rm -rf /opt/hue-release-4.6.0/desktop/cor

[2020-01-06 08:38] Faiz2 opened #1030 "configuration ksql"
Hi @romainr
Our KSQL server has basic http authentication enabled, no related articles found in the provided documentation, how do I configure？

[2020-01-06 09:02] romainr commented on #1004
Could you open a new issue? (as it is not the same problem now, it might be because you have the wrong OS package installed, with 3.8 and Ubuntu you only need https://github.com/cloudera/hue/blob/master/.circleci/config.yml#L160)

[2020-01-06 09:02] #1004 closed

[2020-01-06 10:01] #1030 closed

[2020-01-07 01:42] ajay25 commented on #1019
Thanks for the help @jdesjean
I was able to figure out that this was happening due to consumption of http post input stream before doPost in Knox. So, Knox itself was sending empty body.

[2020-01-07 01:42] #1019 closed

[2020-01-07 06:33] fsilent opened #1031 "hue 4.6.0 start error"
![image](https://user-images.githubusercontent.com/9815890/71873586-849e3580-315a-11ea-9dcb-0247d13a4330.png)
![image](https://user-images.githubusercontent.com/9815890/71873615-98499c00-315a-11ea-9ea0-1081e70b632b.png)
![image](https://user-images.githubusercontent.com/9815890/71873629-a26b9a80-315a-11ea-81d0-c91cc81e8cfa.png)
When change the 326 line TimeOutPIDLockFile to TimeoutPIDLockFile, it`

[2020-01-07 06:39] romainr commented on #1031
Thanks!

Would you send a quick pull request with the fix?

[2020-01-07 07:53] fsilent commented on #1031
https://issues.cloudera.org/browse/HUE-9111
hello, romainr. this is the first I submit a patch，please check.

[2020-01-07 08:18] elukey commented on #739
Any news on this?

[2020-01-07 09:28] romainr commented on #1031
Thank you! Your patch was committed with a small clean-up on top: https://review.cloudera.org/r/14693/

For small issues, feel free to just send a pull request next time if it is easier!

[2020-01-07 09:28] #1031 closed

[2020-01-07 09:29] romainr commented on #1031
Note that cherrypy is not fully ported to Python 3 yet, but any help is welcomed.

[2020-01-07 17:48] risdenk commented on #1019
@ajay25 is there an action item here? Following up from your knox user mailing list email.

[2020-01-07 19:43] ajay25 commented on #1019
@risdenk thanks for following up. No action item from knox side either, as the offending code is something that we have customized internally and is not part of open source knox.

[2020-01-08 09:13] luzongyi opened #1033 "npm ERR"
When cd hue and make apps.I got this error:npm ERR.Because this is local network.So I readlly want to know what packages will be installed by npm.If I know that.I can install it by some other way.

Anyway,if I don't have npm source and the network is local.Do anyone know how to fix it?

[code]

[2020-01-08 09:24] romainr commented on #1033
If you don't have a proxy, the package list is in https://github.com/cloudera/hue/blob/master/package.json

[2020-01-08 10:05] luzongyi commented on #1033
Thanks.

[2020-01-08 10:32] luzongyi commented on #1033
It's too hard to install the json packages list one by one.Do we have any other way to do this part?

[2020-01-09 09:57] ankit167 commented on #868
@romainr 404 not found.
Could you help update the link?

[2020-01-10 07:22] luzongyi opened #1034 "npm ERR again."
Wether I chose to download the hue-4.6.0.tgz or git clone https://github.com/cloudera/hue.git. When I make apps, It just came out this npm ERR.What's I missing now?

[code]

[2020-01-10 08:05] luzongyi commented on #1034
Foget it.
After upgrade .It's done.
[code]

[2020-01-10 08:05] #1034 closed

[2020-01-14 23:52] ajay25 opened #1035 "USE_SASL in spark/conf.py is always set to false"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?
no

What is the Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...)
4.5

Is there a way to help reproduce it?
In spark/conf.py here- https://github.com/cloudera/hue/blob/master/apps/spark/src/spark/conf.py#L89
the value for USE_SASL is set to false by defau

[2020-01-15 04:43] romainr commented on #1035
Indeed, feel free to make USE_SASL https://github.com/cloudera/hue/blob/master/apps/spark/src/spark/conf.py#L89 a dynamic default based on the HIVE_USE_SASL value (e.g. of dynamic default
https://github.com/cloudera/hue/blob/master/apps/beeswax/src/beeswax/conf.py#L108) and send a pull request!

[2020-01-15 11:26] stone80 opened #1036 "Thrift version configured by property thrift_version might be too high"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?
no
What is the Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...)
4.6
Is there a way to help reproduce it?

error logs:
Thrift version configured by property thrift_version might be too high. Request failed with "Required field 'client_protocol' is unset!

[2020-01-15 13:21] romainr commented on #1036
With Hive 1 (pretty old, now Hive 3 is standard), you probably need o by  thrift_version=7 for https://github.com/cloudera/hue/blob/master/desktop/conf.dist/hue.ini#L1266

[2020-01-15 20:55] ajay25 commented on #1035
thanks, I'll send out a PR soon.

[2020-01-16 01:47] stone80 commented on #1036
got it, thanks very much!

[2020-01-16 01:47] #1036 closed

[2020-01-17 09:55] yinsong opened #1038 "hue-4.6.0 connect hive1.2.1"
like this  title,how can i  connect hive1.2.1

[2020-01-17 15:10] romainr commented on #1038
Please use the forum https://discourse.gethue.com/ and provide more information (log trace etc)

[2020-01-17 15:10] #1038 closed

[2020-01-20 03:05] yinsong commented on #1038
Environment:
centos6.5
hue-4.6.0
hdpp-2.4.2
install & run steps:
(1)make install
(2)./build/env/bin/hue migrate
(3)./build/env/bin/supervisor -d

configure:
hive_server_host=hdp2.sudiyi.net
hive_server_port=10000
hive_metastore_host=hdp2.sudiyi.net
hive_metastore_port=9083
hive_conf_dir=/etc/hive/conf

error on web:
timed out (code THRIFTSOCKET): None
TSocket read 0 bytes (code THRIFTTRANSPORT): T

[2020-01-30 10:41] elisabetao opened #1041 "Issue with auto-complete hue 4.5"
Hi,

Recently we started noticing some  issues with the auto-complete on hue 4.5 and the JS error is:
Uncaught (in promise) DOMException: Failed to execute 'importScripts' on 'WorkerGlobalScope': The script at 'https://machine:port/dynamic_bundle/workers/vendors~generic-parser~hive-parser~impala-parser-chunk-c4b642938a9e85d90ca6.js' failed to load.
    at https://machine:port/static/desktop/js/bun

[2020-01-30 22:00] romainr commented on #1041
Does it happen on CTRL + SPACE to autocomplete all the time?
Any chance to try with 4.6 or master?
Do you have it with http://demo.gethue.com/? (and I guess this is with the Impala editor?)

[2020-01-31 19:21] elisabetao commented on #1041
Salut Romain,

It seems to be related to the useradmin.superuser permissions.It occurs for those user who are missing those permissions. I am checking to code to see why this is happening.

Thanks a lot

[2020-01-31 19:45] romainr commented on #1041
Would they be missing the 'notebook/beeswax' permissions?

[2020-01-31 20:00] elisabetao commented on #1041
Hi

No, they already had all permissions with the exception of the useradmin/rwx (which normally they shouldn't have because they're not superusers), but if they don't have this permission the autocomplete does not work with the above JS error.

[2020-02-03 15:55] elisabetao commented on #1041
Hi Romain,

I was wondering - are complex types parsing auto-complet expected to work correct;i in Hue 4.5?

thanks a lot

[2020-02-03 18:17] romainr commented on #1041
It should but maybe there are some corner cases not handled. Would you have the create table?

[2020-02-04 10:02] leopaul36 commented on #883
Hi @romainr @weixiaxu, we also encountered this issue with the latest version of Hue and HDP 3.1.

How would this work with CDP which has both Hue and Ranger in the stack ?

Thanks for your help.

[2020-02-04 14:12] elisabetao commented on #1041
Hey,

The table looks something like this:

CREATE TABLE `test`(
--
2 | `header` struct<spaceid:string,appid:string,profileid:string,executor:string,executortype:string,createddate:string,eventtype:string>,
3 | `customattributes` struct<level:int,source:string>,
4 | `enrichedattributes` struct<env:string,name:string,kafkatopic:string,kafkapartition:int,kafkaoffset:bigint,eventid:string>)
5 | ROW F

[2020-02-05 14:56] JohanAhlen commented on #1041
Hi,

The table example above should work, for me the struct tree appear in the left assist and it suggest the nested fields with "SELECT customAttributes.| FROM test" (where | represents the cursor). Was there a particular query where you didn't get any suggestions?

It could be that the initial permission issue you describe was fixed with https://github.com/cloudera/hue/commit/51e6f329549f0623390

[2020-02-07 12:48] elisabetao commented on #1041
Hi Johan,

Thanks so much fo rthe quick reply. Indeed, after applying https://github.com/cloudera/hue/commit/51e6f329549f06233905fca40a0c3b20f27f5fb3  to Hue 4.5 the auto-complete issue is fixed.

[2020-02-07 12:48] #1041 closed

[2020-02-07 13:01] elisabetao commented on #883
Hi,

To overcome this, I have replaced the use of thrift GetTables based call from get_tables_meta in `https://github.com/cloudera/hue/blob/master/apps/beeswax/src/beeswax/server/dbms.py`  with :
[code]

Hope this helps.

Thanks

[2020-02-12 08:16] tommy1505 commented on #668
hi bro, i got same problem!!! Do you have any solutions for this issue???

[2020-02-15 17:25] risdenk commented on #1035
@ajay25 looks like the PR was merged so this issue can be resolved/closed?

[2020-02-15 17:27] ajay25 commented on #1035
yes

[2020-02-15 17:27] #1035 closed

[2020-02-16 05:19] greendisc777 commented on #1000
Within Hue and using SqlAlchemy, it doesn't prompt for username/password.

[2020-02-17 02:48] ebessah opened #1046 "`TypeError: 'unicode' does not have the buffer interface`, using hue on Databricks clusters with SQLAlchemy interface and the Hive connector"
When connecting to Databricks clusters from Hue using SQLAlchemy interface and the Hive connector, we received `TypeError: 'unicode' does not have the buffer interface`.

After some days of debugging, we realised that the beeswax application which is installed and configured as part of hue and enabled you to perform queries on Apache Hive,
had a custom autogenerated thrift python code that allows

[2020-02-19 15:58] romainr commented on #1046
Thanks for the report! There is a `if` in the latest master code, https://github.com/cloudera/hue/blob/master/apps/beeswax/gen-py/TCLIService/ttypes.py#L4457
so the line to update to would be more like:

`oprot.writeString(self.statement)`

and you are proposing?

`oprot.writeString(self.statement.encode('utf-8'))?`

`py-hive` generated Thrift can conflict with the Hue one, so above clean-up is ne

[2020-02-19 15:58] romainr commented on #1000
Feel free to open in a new post https://discourse.gethue.com/ or github issue

[2020-02-19 19:28] mansukhp96 opened #1047 "Solr Collections dropdown enabled when access to dashboard is enabled"
I'm using hue as a UI for my SolrCloud. I'm trying to disable the dropdown to select solr collections when the access for a user group that only has dashboard access enabled and oozie editor access disabled(can see only shared documents- all other access is disabled). If the user uses the dropdown, they have access to the dashboard. There seems to be no way to disable the dropdown for a user group

[2020-02-19 19:31] mansukhp96 commented on #1047
Requirement is to just view the documents shared, and the dropdown should be disabled.

[2020-02-19 19:32] mansukhp96 commented on #1047
Tried using the oozie - dashboard read-only : Doesn't work for this case

[2020-02-19 21:28] romainr commented on #1047
Indeed, here if the read only access is there, we should probably only return the selected collection, not the full list.

Some pointers:

https://github.com/cloudera/hue/blob/master/desktop/libs/dashboard/src/dashboard/views.py#L89
collections should be a list with only the selected one.

[2020-02-20 19:56] codeStryke commented on #251
I'm running into the same problem with OSX 10.15.3 (Catalina). Any suggestions?
[code]

[2020-02-20 20:51] romainr commented on #251
https://docs.gethue.com/administrator/installation/dependencies/#macos

[2020-02-20 20:59] codeStryke commented on #251
I followed the steps and need to make a change to `Makefile.vars` (I can submit a PR if I get everything working first) but I am now stuck with another error
[code]
Also thank you for your quick response. Very helpful.

[2020-02-20 21:24] romainr commented on #251
It looks like it is a similar problem, do you have the mysql dev package installed and on the build path?

[2020-02-20 21:30] codeStryke commented on #251
I don't see a brew formula for it, the closest one is https://formulae.brew.sh/formula/mysql-client#default which I have. Sorry, is there a better place I should post this issue? I feel this issue may not be the best place/ use of your time. I appreciate the help!

[2020-02-20 22:15] codeStryke commented on #251
I'm actually interested in https://gethue.com/build-your-own-autocompleter/ and not sure if I'm stuck in the problem that is probably not even relevant to what I am trying to do

[2020-02-20 22:25] codeStryke commented on #251
I think the problem is brew installs the latest version of mysql which no longer as the `my_config.h` file. As per the release notes https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-2.html, it says `Client programs should only need to #include the <mysql.h> header file. In particular, <my_config.h> should not be needed, and is no longer installed`

[2020-02-21 05:54] romainr commented on #251
Good point, we should indeed see for replacing it by https://pypi.org/project/mysql-connector-python/ or just removing it.

https://stackoverflow.com/questions/25865270/how-to-install-python-mysqldb-module-using-pip

It is currently bundled here https://github.com/cloudera/hue/tree/master/desktop/core/ext-py/MySQL-python-1.2.5

[2020-02-21 14:20] jamiedavenport opened #1048 "Username and Password SQLAlchemy Interpolation"
## Problem

We are trying to use SparkSQL with the SQLAlchemy connector like so:
[code]

This is based on the documentation [here](https://docs.gethue.com/administrator/configuration/apps/#sql-alchemy)

The first issue we encountered is that the user is not prompted for login credentials:
- Should be prompted when a request returns a `401` response
- Occurs when a `AuthenticationRequired` exceptio

[2020-02-21 14:43] ebessah commented on #1046
Using the latest master code, and looking at the problem again there seem to be a discrepancy between `py-hive` generated Thrift, using current thrift compiler (0.13.0) and the one hue maintains, generated with 0.9.3.

Any reason why hive is still maintaining an older version of thrift generated py-hive code?

Thrift version 0.9.3 compiler

[code]

Thrift version 0.13.0 compiler

[code]

[2020-02-21 23:43] codeStryke commented on #251
Any idea if it's possible to get past the error I'm seeing? I'm not at all familiar with python development, I might be missing something obvious.

[2020-02-22 02:16] romainr commented on #251
Are you planning to use MySql or another DB?

If not planning to use MySql, how about deleting MySQL-python directory?

[2020-02-22 14:24] elisabetao commented on #999
Hi Andrey,

This is fixed with HUE-8945 [useradmin] Fix global_js_constants apps  :
https://github.com/cloudera/hue/commit/85dd1064d82b26f2efcad18bdd6652dc9c9c1070#diff-122102bcd47f43ee9e4a0ceac7fe8018 in Hue 4.6

Hope this helps,
Elisabeta

[2020-02-22 15:13] romainr commented on #999
Thanks for the report and thanks for the link Elisabeta!

[2020-02-22 15:13] #999 closed

[2020-02-23 07:50] tankilo commented on #77
I met this problem today, i have binary rowkey, qualifer and value. And Hue produced the following error.
[code]

Can hue print these parts as hex instead of string, just the same way that shell does?

[2020-02-23 15:01] romainr commented on #77
In case of error like this, Hue could indeed be changed to "printify" the bytes. Would you be able to send a pull request?

[2020-02-23 19:31] codeStryke commented on #251
I'm primarily interested in following along this https://gethue.com/build-your-own-autocompleter/

After deleting MySQL-python i still face this error
[code]

[2020-02-24 02:30] 915816744 opened #1049 "raise PopupException(_('Encountered unexpected error in SentryApi.'), detail=e)"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

What is the Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...)
CDH6.2.1、CDH6.3.2
Is there a way to help reproduce it?
in the hue,could not create role
![image](https://user-images.githubusercontent.com/35521373/75125452-27514a00-56f0-11ea-82bc-932321f4ee5

[2020-02-26 00:14] romainr commented on #251
If you run only

Does it give more info?

[2020-02-26 00:18] romainr commented on #1048
Nice and thanks for the details. Would you be able to send a pull request?

[2020-02-26 00:18] romainr commented on #251
Also good to do a 'make clean', then 'make apps' after deleting the MySQL-python lib.

[2020-02-26 02:54] romainr commented on #1046
Hum indeed. IIRC no, just 0.9 is the default one coming via Ubuntu packages but it is very old now. Feel free to send a PR with the recompile with 0.13, or I can send one tomorrow!

[2020-02-26 03:51] romainr commented on #1046
https://issues.cloudera.org/browse/HUE-9175

[2020-02-26 10:38] jamiedavenport commented on #1048
Yep I'll send that over

[2020-02-26 12:56] ebessah commented on #1046
Perfect! Would do. Thanks for the response

[2020-02-26 13:00] linbaicome commented on #216
...migrate to PEP 440 compatible versions.
  PEP440Warning,
error: None
make[2]: *** [ipdb[0.1dev-r1716]] Error 1
make[2]: Leaving directory `/data/soft/test/hue-release-4.1.0/desktop'
make[1]: *** [/data/soft/test/hue-release-4.1.0/build/.devtools] Error 2
make[1]: Leaving directory `/data/soft/test/hue-release-4.1.0/desktop'
make: *** [desktop] Error 2

[2020-02-26 14:46] romainr commented on #216
Please move to Hue 4.6 https://gethue.com/hue-4-6-and-its-improvements-are-out/

[2020-02-26 15:01] linbaicome commented on #453
I solved it, use "PREFIX=/data/soft/test/ make install" not "make apps"

[2020-02-26 16:12] RohitR1 opened #1052 "[Helm-GKE] - ProgrammingError: relation "desktop_settings" does not exist"
What is the Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...)
latest

Is there a way to help reproduce it?
helm install gethue/hue

ProgrammingError in http://localhost:8080/hue/accounts/login?next=/

[code]

[2020-02-26 21:15] romainr commented on #1052
It seems like the Hue database does not contain the existing tables. They should be automatically created at startup via https://github.com/cloudera/hue/blob/master/tools/docker/hue/startup.sh

[2020-02-27 02:14] codeStryke commented on #251
`make clean` and then `make apps` didn't help :(
also running only `$ ./build/env/bin/hue collectstatic --noinput`
return `Abort trap: 6`
[code]

[2020-02-27 06:05] MagicGary commented on #251
Is this a bug or something? And what is exactly causing this? Because it's already 2020, more than 4 years after this issue has been opened but I see people are still struggling with this issue, from mac El Captain to mac Catalina. Is there a universal fix to this or not?

[2020-02-27 06:16] romainr commented on #251
If you read carefully you will see that the errors are different each time (main one is about 'gmp') and is fixable.

[2020-02-27 06:44] MagicGary commented on #251
not really.... what I see is people are attempting and recommending random solutions while not knowing exactly what the cause of is. The only reasonable explanation was back in 2016 stating that sometimes "python dev packages are instead installed under /usr/local/Cellar/python/  ... ..."

And bluntly flowing all these instructions has not fixed this issue for me yet.

[2020-02-27 12:07] nutle opened #1054 "Feature request: messages for users from admin"
Assume several users are running Hive queries (or any other service), and for some reason a service restart is needed, which will take some time and cause downtime. It would be a usefulfeature to send a pop-up (or similar) to all users, which are currently in, say, Hive Query window, that "the service is down due to restart and that the admin knows that". This will save some time and confusion fro

[2020-02-27 14:28] romainr commented on #251
So please open a new issue linked to these one with the specific problem explained (it is easier to manage one detailed problem at the time)

[2020-02-27 15:08] romainr commented on #1054
This is a good one, just obviously this can be done only when there is a load balancer in front of Hue, and configuring it currently up to the admin. With Kubernetes it will become simpler to do rolling restarts.

[2020-02-27 20:44] #1046 closed

[2020-02-27 23:29] codeStryke opened #1055 "Unable to build on macOS Catalina (10.15.3)"
Documenting an issue with macOS Catalina (10.15.3).
I'm able to get to this point and then the build fails
[code]

[2020-02-28 20:06] romainr commented on #1055
This could be related to ssl?
https://github.com/Homebrew/homebrew-core/issues/45687#issuecomment-547102000

[2020-03-02 18:30] #1048 closed

[2020-03-03 00:58] codeStryke commented on #1055
That worked! Thanks a lot

[2020-03-03 10:11] jamiedavenport opened #1057 "Lack of assist support when using session properties with SqlAlchemy"
## Problem

Following on from #1048 we are now prompted for a username and password which are used to complete a parameterised URL. However, we are still lacking assist support since session data is obtained via the `notebook` object passed into `execute` which is not present during calls to `autocomplete`.

We've worked around this issue by implementing the same approach as the JDBC connector ([C

[2020-03-03 16:30] romainr commented on #1055
Glad to hear!

And feel free to send a pull request to update the docs!
https://docs.gethue.com/administrator/installation/dependencies/#macos

[2020-03-03 17:15] romainr commented on #1057
Nice description. I see two main things. Persistence of:

1. credentials optionally typed by the end user (mainly about this issue)
2. sqlalchemy session objects (could be split in another issue)

Generally we should remove this global cache variable. A bit similar to #1020. Django also has a pluggable cache system that can TTL keys: https://github.com/cloudera/hue/blob/master/desktop/libs/libsent

[2020-03-03 19:19] jamiedavenport commented on #1057
Let's split 2 out into another issue since it's more of an optimisation for the SQLAlchemy connector.

Storing the credentials in the browser would work but we run Hue in a remote environment where users connect to and when finished their session is destroyed. So the user would have to enter their credentials each time. We would also have to encrypt the data before storing it to prevent those cred

[2020-03-03 19:50] JohanAhlen commented on #1057
For the credentials, Local Storage and IndexedDB are not considered safe, we'd indeed need to encrypt ourselves which seems messy.

A better option could be the Credential Management API, https://w3c.github.io/webappsec-credential-management/ I'll take a spin at it and see if I can come up with something in ko.sessionAuthModal.

[2020-03-03 21:25] romainr commented on #1057
Both could live, but for sure management password is often the last thing the service should do :)

Curious if we could leverage the Chrome password manager on the frontend too? (similar to traditional website logins). That might be even simpler and secure.

[2020-03-04 17:16] romainr commented on #1055
Probably fixed with better docs: 1058

[2020-03-04 17:16] #1055 closed

[2020-03-04 23:02] jamiedavenport commented on #1057
We should be cautious of compatibility between different browsers and older versions. Solving this on the backend would solve these issues and be more secure (since Hue is not responsible for encryption which is left to the session store).

We could expose multiple options for the session store to allow admins to choose what's best for them:
- InMemory to ensure credentials are never persisted
- D

[2020-03-05 16:07] romainr commented on #1057
Yes, both options have pros and cons.

Yes, that's how it was designed 4 years ago. It is not much change as only for the create_session call but there is no persistence.

Feel free to have a stab at the backend one. Especially as there will be a redis soon it might be convenient. Django Cache probably supports DynamoDB has backend too.

We will probably iterate on the client side only solution to

[2020-03-06 00:35] alanlyh opened #1060 "Presto jdbc interface error "QueryError: JavaObject object is not an iterator""
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?
* No

What is the Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...)
* open source 4.6

Is there a way to help reproduce it?
* Use jdbc interface in Hue 4.6.0 with conf like following
[code]

When opening the editor, the page shows "JavaObject object is no

[2020-03-06 06:46] daisy0123 opened #1061 "hue4 oozie script miss the progress and is too caton when the script is too much"
hi, we meet some probrem. Can you help me ?  thanks.
![image](https://user-images.githubusercontent.com/11910330/76058955-9fedbb80-5fb8-11ea-9df1-ee6eaab3f63f.png)

1. The progress of the script run is missing in the oozie page.
2. This page is too caton(count is 110) when the script is too much.

[2020-03-09 22:16] romainr commented on #1060
It indeed looks like a small bug and we should make it back to compatible with both Python. Feel free to send a pull request!

[2020-03-10 09:40] MicleIvle opened #1063 "spark job(workflow) erros"
I have cloudera cluster with  HA oozie and hue. When I try to start spark job(workflow) I see smth like this.
`{ "traceback": [ [ "/opt/cloudera/parcels/CDH-6.3.2-1.cdh6.3.2.p0.1605554/lib/hue/build/env/lib/python2.7/site-packages/Django-1.11.20-py2.7.egg/django/core/handlers/exception.py", 41, "inner", "response = get_response(request)" ], [ "/opt/cloudera/parcels/CDH-6.3.2-1.cdh6.3.2.p0.1605554/

[2020-03-11 14:13] stephbat opened #1064 "Installation HUE 4.6.0 : conflict npm / libmysqlclient-dev"
I'm trying to install HUE release 4.6.0 on a Ubuntu server 18.04.1
According to the dependencies list described in the installation guide, I see that the package npm is required (while it wasn't required in the previous release 4.3.0)

I have installed the package npm, and after I see that the package libmysqlclient-dev has been automatically removed and this package is listed as mandatory in the

[2020-03-11 14:35] romainr commented on #1064
Could you list the error trace?

[2020-03-11 14:45] stephbat commented on #1064
In attachment the traces of this conflict when I try to install npm and libmysqlclient-dev  :

[conflict_npm_libmysqlclient-dev.log](https://github.com/cloudera/hue/files/4318877/conflict_npm_libmysqlclient-dev.log)

[2020-03-12 15:41] stephbat commented on #1064
Fixed by installing Node.js v10, instead of Node.js v8

[2020-03-12 15:41] #1064 closed

[2020-03-16 07:04] AlexDing1991 opened #1069 "The table name cannot be displayed correctly in case of Hue+Hive+Sparksql scenario"
The table name cannot be displayed correctly in case of Hue+Hive+Sparksql scenario. The detail symptom is illustrated by the following screeshot.
![image](https://user-images.githubusercontent.com/62233846/76731007-762d5500-676d-11ea-871d-e3d4de2da700.png)

[2020-03-16 14:43] romainr commented on #1069
It seems like you are on a very old Hue 3.x, it is highly recommended to switch to a more recent one first. e.g. https://gethue.com/hue-4-6-and-its-improvements-are-out/

[2020-03-17 15:30] jinguangyu opened #1074 "ldap user cannot connect to hive"
I use docker to deploy hue and connect to hive in the hdp cluster，hive version is 3.1，hive authentication method is ldap.
I do the following configuration in hue, but ldap users cannot connect to hive.
[code]
I tried adding two lines of configuration to the hue.ini file:
[code]
But only hive users can connect to hive, other users still report errors.The error message is:
[code]
For security reason

[2020-03-17 20:33] romainr commented on #1074
Please use the forum for general help and not bugs: https://discourse.gethue.com/

[2020-03-18 12:48] stephbat opened #1077 "Configuration paramaters added/deleted HUE 4.6.0 vs 4.3.0"
Hello

I have installed the release HUE 4.6.0, and I would like to identify the configuration paramaters that have been added or deleted since the the release HUE 4.3.0 (previous release installed on my server)
Is there a documentation describing this ?

Regards

[2020-03-18 13:21] romainr commented on #1077
You would have more chance on https://discourse.gethue.com/ for this type of general questions:

The config file of 4.3 in case it helps (and github probably has a way to do the diff for you):
https://github.com/cloudera/hue/blob/release-4.3.0/desktop/conf.dist/hue.ini

[2020-03-18 14:29] #1077 closed

[2020-03-18 18:06] litaobowl opened #1078 "Impala image can't be downloaded"
Hi,
I used `helm install impala-engine --set-string name=finance -n finance`
to deploy an impala cluster in k8s. But the impala images can't be downloaded from the registry

`Failed to pull image "docker-registry.infra.cloudera.com/cloudera/datawarehouse/impala-statestore:v2": rpc error: code = Unknown desc = Error response from daemon: Get https://docker-registry.infra.cloudera.com/v2/: dial tcp:

[2020-03-18 19:08] romainr commented on #1078
I would recommend to inquire on the Impala project for their docker image: https://impala.apache.org/

[2020-03-18 19:08] #1078 closed

[2020-03-19 14:06] romainr commented on #1077
https://discourse.gethue.com/t/configuration-paramaters-added-deleted-hue-4-6-0-vs-4-3-0/131

[2020-03-24 23:20] varunrao opened #1081 "Hue Notebook enhancements"
Hue Notebooks should allow following integrations.
- Export/download
- Specify location to save (eg: S3)
- Integration with Code repos - eg: Git

[2020-03-24 23:54] romainr commented on #1081
First two are already there:
https://docs.gethue.com/user/querying/#results
https://docs.gethue.com/user/querying/#downloading

Git is tracked on https://github.com/cloudera/hue/blob/master/docs/ROADMAP.md

[2020-03-25 04:44] varunrao commented on #1081
thanks for the response Romain. Can Hue Notebooks be in the .ipynb format? This way notebooks can work with other editors like Zepplin and Jupyter. We can use interpreters to switch between SQL and code.
Eg: https://zeppelin.apache.org/docs/0.8.0/quickstart/sql_with_zeppelin.html

Regarding export options, here's some options supported by jupyterlab:
https://jupyterlab.readthedocs.io/en/stable/use

[2020-03-26 09:12] yinsong opened #1083 "hue4.6.0 on docker connect clickhouse error"
hue 4.6.0 on docker
connect  clickhouse19.16.2.2 use jdbc

config:
[[[clickhouse]]]
       name=ClickHouse
       interface=jdbc
       options='{"url": "jdbc:clickhouse://xxxx.xxxx.xxx.xx:8123", "driver": "ru.yandex.clickhouse.ClickHouseDriver", "user": "default", "password": ""}'

other steps
add  clickhouse-jdbc.jar  in CLASSPATH
edit startup.sh add export CLASSPATH=/usr/lib/jvm/java-11-openjdk

[2020-03-26 09:40] ytousxljsj opened #1084 "cdh6.3 hue 4.2.0 Truncate function doesn't work"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:

Steps to reproduce it?

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

[2020-03-26 14:52] romainr commented on #1083
If you need the JDBC proxy, the flag need to be set in the build: https://docs.gethue.com/developer/connectors/#custom

Any reason you would not use the SqlAlchemy connector instead? https://docs.gethue.com/administrator/configuration/connectors/#clickhouse

[2020-03-26 14:55] romainr commented on #1084
Please detail more what is the problem and how to reproduce it?

[2020-03-26 15:22] romainr commented on #1081
IIRC export back and forth to .ipynb was done a few years ago but I am not sure that the feature is still there. It should be relatively to add though as text export is working ;)

https://docs.gethue.com/developer/

[2020-03-27 02:21] ytousxljsj commented on #1084
Execute  truncate table table_name ;   in the hue interface

[2020-03-27 02:27] ytousxljsj commented on #1084
Execute  truncate table  table_name  appearin ; in the hue interface      error: Error while processing statement: FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. Exception while processing   .    CDH6.3  HUE 4.2

[2020-03-27 14:45] romainr commented on #1084
Please look at the full logs of the HiveServer2 or YARN, this error is specific to your table. Maybe you are missing some permissions or there is a misconfiguration.

[2020-03-27 14:45] #1084 closed

[2020-03-30 07:28] yinsong commented on #1083
SqlAlchemy connector occur other error  chinese  in editor page,but clickhouse client is ok

error log:
Code: 73, e.displayText() = DB::Exception: Unknown format TabSeparatedWithNamesAn (version 19.16.2.2 (official build))

[2020-04-05 10:01] chenjingyue opened #1090 "ERR! libxmljs@0.19.7 install: `node-pre-gyp install --fallback-to-build --loglevel http`"
hue version: 4.6.0
node version: v12.16.1
npm version: 6.13.4

Installed /home/lisi/tools/hue-4.6.0/desktop/libs/dashboard/src
make[2]: Leaving directory `/home/lisi/tools/hue-4.6.0/desktop/libs/dashboard'
make -C libs/kafka env-install
"PYTHON_VER is python2.7"
make[2]: Entering directory `/home/lisi/tools/hue-4.6.0/desktop/libs/kafka'
--- Installing kafka into virtual-env
running develop
running

[2020-04-05 12:30] #1090 closed

[2020-04-06 10:24] chenjingyue opened #1091 "{"status": -1, "message": "(MySQLdb._exceptions.OperationalError) (1193, \"Unknown system variable 'tx_isolation'\")"}"
hue version:4.6.0 mysql version: 8.0.19
  [[interpreters]]
    # Define the name and how to connect and execute the language.
    # https://docs.gethue.com/administrator/configuration/editor/

	[[[mysql]]]
	   name=MySQL
	   interface=sqlalchemy
	   options='{"url": "mysql://user:password@localhost:3306/hue"}'
![image](https://user-images.githubusercontent.com/43103794/78548709-c8750980-7833-11ea-

[2020-04-06 17:21] romainr commented on #1091
Please use the Forum for usage/configuration questions: https://discourse.gethue.com/

[2020-04-06 17:21] #1091 closed

[2020-04-06 17:22] romainr commented on #1027
For Function, this is actually https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/js/sql/sqlFunctions.js

[2020-04-06 17:23] romainr commented on #1010
Hey @bowenli86, was there any progress on the connector? Any update when Flink SQL will have a REST API?

[2020-04-06 18:53] bowenli86 commented on #1010
Hi @romainr, yes, we are building Flink gateway and it should be available in a month or so https://github.com/ververica/flink-sql-gateway

@KurtYoung  @godfreyhe can you follow up with Romain on this? I think it's valuable to 1) test sql gateway with such a good use case 2) integrate more deeply with Cloudera stack, especially since Cloudera has launched Flink service, something we can even bring

[2020-04-06 23:06] romainr commented on #1010
Interesting! And would you recommend a certain Docker with a ready to launch Flink with some tables? (e.g. https://github.com/ververica/sql-training... that way it would help do a quick scoping on the Hue side) Then I could just point the gateway to it. Also not sure for FLINK_HOME if using Flink in a docker.

[2020-04-07 00:48] bowenli86 commented on #1010
yes, I think  https://github.com/ververica/sql-training is a good source, there's also official images from docker hub https://hub.docker.com/_/flink

[2020-04-07 02:34] KurtYoung commented on #1010
@romainr Could you describe your use case a little bit, like will you run both batch & streaming queries or just one of them, what kind of cluster type will you play with, standalone/yarn session/yarn per-job? Will you perform DDL operations via sql gateway or just DQL & DML?

[2020-04-07 05:19] romainr commented on #1010
The idea would be to test the DESCRIBE and simple SELECT via the gateway. Then test more types of statements. I don't have a preference for the type of cluster. The idea is to play around to get a scoping of the gateway API / SQL autocomplete work.

For example, I just did a POC for Phoenix https://github.com/cloudera/hue/blob/master/docs/designs/apache_phoenix.md, also did some tests with ksqlDB

[2020-04-07 11:33] vkuryata opened #1093 "HUE 4.6 [Filebrowser] Create/Touch file in Cyrillic directory"
Hello I use Hue™ 4.5.0 and Hue™ 4.6.0

When I try create file in directory with Cyrillic patch (/hdfs/user/vkuryata/**тест**/file.txt)
I will find that file in other directory.

EGG.:
1) Create Cyrillic directory:
<img width="1102" alt="1" src="https://user-images.githubusercontent.com/63292820/78665443-7f2dc400-78de-11ea-9960-93fbfac68e17.png">

2) Create file "test.txt" in new directory with Cyr

[2020-04-07 13:16] romainr commented on #1093
There are two error here as the logging is erroring and hiding the initial HDFS message. This was fixed in master.

There was some changes in master for better URL but it might still not work. 4.7 release should be out next week or we could try on master to confirm.

[2020-04-07 13:53] vkuryata commented on #1093
When I try Create new dir with Cyrillic name I got Error:

Traceback (most recent call last):
  File "/usr/share/local/hue/build/env/lib/python2.7/site-packages/Django-1.11.22-py2.7.egg/django/core/handlers/exception.py", line 41, in inner
    response = get_response(request)
  File "/usr/share/local/hue/build/env/lib/python2.7/site-packages/Django-1.11.22-py2.7.egg/django/core/handlers/base.py",

[2020-04-07 14:05] vkuryata commented on #1093
if I modify: /usr/share/local/hue/apps/filebrowser/src/filebrowser/views.py and add sys.setdefaultencoding('utf8'),  I don't got any Error messages in error.log, but I can't create files in Cyrillic patch.
[code]

[2020-04-09 19:30] pk-kpulicherla opened #1094 "Configuring Hue with Knox"
Hi ,

We are trying to understand how hue works with Knox.From configuration perspective i see only this in hue.ini .

[code]
Does that mean hue supports Knox based authentication only ?

[2020-04-09 22:37] ranade1 commented on #1094
Hue supports knox. For knox please use desktop.auth.backend.KnoxSpnegoDjangoBackend backend in the CM.

[2020-04-10 02:01] romainr commented on #1093
utf-8 is the default https://github.com/cloudera/hue/blob/master/desktop/conf/pseudo-distributed.ini.tmpl#L157

What is the trace of the new error?

[2020-04-10 05:02] romainr commented on #1010
What should be FLINK_HOME for the sql-gateway when using the SQL training docker compose?

[2020-04-10 06:50] yinsong commented on #1048
website error Missing username and/or password when i set clickhouse://${USER}:${PASSWORD}

[2020-04-11 12:05] godfreyhe commented on #1010
@romainr Currently, there is no Flink SQL Gateway docker image. We need to deploy sql gateway independently in a gateway machine (or local just for testing).  And you should also download [flink binary package](https://www.apache.org/dyn/closer.lua/flink/flink-1.10.0/flink-1.10.0-bin-scala_2.11.tgz ) to the same machine. `FLINK_HOME` is the path of the flink binary location. You should set `gatewa

[2020-04-11 18:49] romainr commented on #1010
I see, the gateway just reuse the libs in FLINK_HOME. Thanks!

I think I got the basis working:

![image](https://user-images.githubusercontent.com/17945/79052314-6bd66d80-7bea-11ea-893e-10674f8411dd.png)

[2020-04-13 04:35] dingmy002 commented on #1017
I have encountered this problem  too, has that problem been solved?

[2020-04-13 14:15] romainr commented on #1017
This should be fixed in latest Hues. 4.7 was released last week https://gethue.com/blog/hue-4-7-and-its-improvements-are-out/

[2020-04-15 22:55] eubnara opened #1101 "HUE cannot access kerberized HDFS"
## Describe the bug:

https://github.com/cloudera/hue/blob/faebb36a7b1b3f56e1871189c45359f4d6ac4e02/desktop/core/ext-py/kerberos-1.1.1/pysrc/kerberos.py#L102

https://github.com/cloudera/hue/blob/b99879b7a0faf5dc1492ad9fa102ec47510e6b02/desktop/core/ext-py/requests-kerberos-0.12.0/requests_kerberos/kerberos_.py#L219-L220

I think the error below is caused when `kerberos.authGSSClientInit()` is cal

[2020-04-16 23:38] ranade1 commented on #1101
Thanks for reporting. I will work on it.

[2020-04-20 13:30] #1027 closed

[2020-04-22 02:41] eubnara commented on #931
@romainr
Any updates?
https://github.com/visionmedia/page.js/pull/348#issuecomment-552688558

On page.js issues, they don't plan to fix the issue. They recommended to change page option.

On HUE 4.7.0, this issue still exists.

[2020-04-22 21:12] romainr commented on #1101
Should be fixed with https://github.com/cloudera/hue/commit/812cd39fa490db91f56f7f5ffd2da7b20aa958d0

Thank you everybody!

[2020-04-22 21:12] #1101 closed

[2020-04-22 21:14] romainr commented on #1060
@alanlyh would you have time to send a PR?

[2020-04-22 21:16] #394 closed

[2020-04-22 23:32] romainr commented on #1020
Not perfect but with https://issues.cloudera.org/browse/HUE-9270

Closing the session of the user will close all the queries.
It makes sure the previously executed query gets closed before executing next.

Also it seems that Presto comes with a timeout to automarically expires idle/non closed queries: https://www.google.com/search?q=presto+expire+idle+queries&oq=presto+expire+idle+queries&aqs=chro

[2020-04-23 20:51] SimonkNetapp commented on #1060
I have this on all JDBC Connectors ... Can we fix this please?

[2020-04-23 21:03] alanlyh commented on #1060
Sure. I can work on a PR. Should be a quick fix.

[2020-04-24 18:32] alanlyh commented on #1060
@romainr I have created a PR https://github.com/cloudera/hue/pull/1109

[2020-04-24 20:50] romainr commented on #1060
It is merged, thanks a lot! https://github.com/cloudera/hue/commit/baeccd42c856b874b917c551647b7b101d518499

[2020-04-24 20:50] #1060 closed

[2020-04-25 15:01] romainr commented on #1049
"timed out --> the Sentry service is probably hanging or there is a wrong authentication

[2020-04-25 15:01] #1049 closed

[2020-04-25 18:49] romainr commented on #1010
Sorry again if this is a basic question, but I could still not point the SQL gateway to the SQL training properly:

`POST None http://127.0.0.1:8083/v1/sessions/d61a353d8cfa7e7bb5039744bc68511e/statements {"statement": "SHOW tables", "execution_timeout": ""} returned in 5ms 200 163 {"results":[{"columns":[{"name":"tables","type":"VARCHAR(1) NOT NULL"},{"name":"type","type":"VARCHAR(5) NOT NULL"}],

[2020-04-26 03:45] godfreyhe commented on #1010
Hi @romainr,  I think you should backport the `tables` section and `functions` section to `sql-gateway-defaults.yaml`. because Sql gateway will load them when startup.

[2020-04-26 15:15] romainr commented on #1010
Thanks!

I am now running the gateway within the sql-training docker client container (and updated the bind addresses of sql-gateway-defaults.yaml to container IP) and added tables and functions and got past the 'Could not create execution context' errors by adding the jars to the gateway:

./sql-gateway.sh -j /opt/flink/lib/flink-table_2.11-1.10.0.jar -j /opt/flink/lib/flink-table-blink_2.11-1.10

[2020-04-26 20:00] alant94 opened #1110 "Error while executing imported notebooks"
**Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?**
No, it is not.
But the issue to Cloudera Support is already created with a lot of details inside - Case 674401.

**Describe the bug:**
Migration of notebooks from one Hue instance to another Hue was performed with the help of functionality "Export" and "Import" on the

[2020-04-27 04:07] godfreyhe commented on #1010
hi @romainr if you defined FLINK_HOME, `-j /opt/flink/lib/flink-table_2.11-1.10.0.jar -j /opt/flink/lib/flink-table-blink_2.11-1.10.0.jar /opt/flink/lib/flink-dist_2.11-1.10.0.jar` is no needed when executing `./sql-gateway.sh`.  could you provide `sql-gateway-defaults.yaml` file, I can try it in my local.

[2020-04-27 09:23] eubnara commented on #931
https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/js/hue.js#L128

[code]

[2020-04-27 09:24] eubnara commented on #931
But I think Webhdfs has a bug too.
https://issues.apache.org/jira/browse/HDFS-14341

[2020-04-27 15:02] romainr commented on #1010
Thanks!

I put a write-up and the file here: https://github.com/romainr/flink-sql-gateway/tree/master/docs/demo

It is done in the sql training docker so that it is easy to repro. Basically I soon as I try to add the demo tables/UDF the curl to create a session fails.

Let me know if it is not clear enough.

[2020-04-27 17:10] gary324 opened #1113 "Hiveserver2/beeswax TSocket read 0 bytes"
I installed Hue 4.7.0 and HDP 3.1 using Ambari 2.4.7.

I have tried many days to connect to hive, but I couldn't solve it. Can anyone help me?
I guess it is authentication problem...... but I didn't any authentication methods.

![image](https://user-images.githubusercontent.com/42162514/80399972-0fb35f00-88f5-11ea-95c3-761de850730a.png)

Hear is Hue log:
[28/Apr/2020 01:48:55 +0000] dbms         D

[2020-04-27 17:20] romainr commented on #1113
Thanks for the report!

For non bugs, please use the Forum for more help: https://discourse.gethue.com/

[2020-04-27 17:20] #1113 closed

[2020-04-27 20:42] #1069 closed

[2020-04-28 13:28] romainr commented on #1010
After above and testing on a live Flink, the initial connector will come in https://issues.cloudera.org/browse/HUE-9280

[2020-04-29 03:58] geekyouth commented on #242
Api 错误：'unicode' object has no attribute 'keys'

![image](https://user-images.githubusercontent.com/12899262/80559599-a7f23680-8a10-11ea-99ab-52d416da456c.png)

[2020-04-29 16:50] louisdecharson opened #1116 "Markdown snippets in notebook does not work"
Hello,

I've downloaded and installed on MacOs Mojave the latest development server for Hue (release-4.7.0) using the steps described [here](http://cloudera.github.io/hue/latest/administrator/installation/dependencies/#macos).

When I try to create a snippet in a notebook, I have the following:
<img width="1280" alt="Screenshot 2020-04-29 at 18 35 55" src="https://user-images.githubusercontent.com

[2020-04-29 21:41] romainr commented on #1116
It looks like the Markdown snippet has a bug. There is probably a trace in the Javacript console.

[2020-04-30 07:14] louisdecharson commented on #1116
I have  the following error:
[code]
I was not able to find where the html template for the notebook and snippets are defined.

[2020-04-30 09:17] gnieto opened #1118 "Multiple variables on SQL editor"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

I could not find any related issue

Describe the bug:

When using the SQL editor (I've tried Impala and Spark editors) with a statement containing exactly one variable, the editor seems to be working properly (even if it shows a selector which was not present on previous

[2020-04-30 13:56] romainr commented on #1116
Awesome!

For info, port 7187 is the Cloudera Manager service API, but it should be off if commented https://github.com/cloudera/hue/blob/master/desktop/conf.dist/hue.ini#L2059

[2020-04-30 14:02] #1116 closed

[2020-04-30 14:29] romainr commented on #1118
Weird, this might be related to a ko.js lib upgrade that happened since.

Wondering if we should do

`</select> and not <select ... />`

https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/templates/editor_components.mako#L1220

?

[2020-05-01 07:53] JohanAhlen commented on #1118
Indeed the </select>, I've fixed it with: https://issues.cloudera.org/browse/HUE-9288

[2020-05-01 13:59] romainr commented on #1118
https://github.com/cloudera/hue/commit/611ad1b12bd5db7a3979c0c41105d3b93903b289

[2020-05-01 13:59] #1118 closed

[2020-05-02 04:56] romainr commented on #1010
Nevermind, I forgot the last -j, so the jars don't fix the issue:

` Could not find a suitable table factory for 'org.apache.flink.table.factories.TableSourceFactory' in\nthe classpath.\n\nReason: Required context properties mismatch.\n\nThe matching candidates:\norg.apache.flink.table.sources.CsvAppendTableSourceFactory\nMismatched properties:\n'connector.type' expects 'filesystem', but is 'kafka

[2020-05-02 07:27] CHIRAG-TYAGI opened #1121 "Not able to upload file via hdfs web browser."
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com? I did not find any open issue relevant to mine.

Describe the bug: Not able to upload the file view hdfs file browser

Steps to reproduce it?
1) Go to hdfs file browser.
2) try to upload any file into any directory.

Error I am getting:
Error: HTTPConnectionPool(host='ip-1

[2020-05-02 07:29] CHIRAG-TYAGI commented on #1121
![image](https://user-images.githubusercontent.com/26747200/80858105-bb9dd700-8c74-11ea-931e-6ac5b8d748c0.png)

[2020-05-02 13:07] romainr commented on #1121
Uploads are currently disabled on demo.gethue.com

[2020-05-02 13:07] #1121 closed

[2020-05-02 15:28] romainr commented on #1010
The correct jars to add are actually from /opt/sql-client/lib

[2020-05-05 02:42] jimistry123 opened #1122 "Getting KeyError when checking Hive query status"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

* No

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

* open source 4.7, Chrome browser, Hue server running on Linux.

Describe the bug:

* In Hive editor, query status always transitions from ```Running``` to ```Qu

[2020-05-05 03:48] romainr commented on #1122
IIRC it was fixed since (and could not repro on master) and we probably should do a 4.7.1 release so.

If not, probably safer to add an extra check, e.g:
https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/connectors/base.py#L392

`... and snippet['connector'].get('dialect'):`

[2020-05-07 02:24] romainr commented on #438
https://github.com/datastax/python-driver

[2020-05-07 14:13] romainr commented on #1010
First version of the connector: https://gethue.com/blog/sql-editor-for-apache-flink-sql/

![flink_editor_v1](https://user-images.githubusercontent.com/17945/81304559-0f703d80-9032-11ea-9c14-c4e1ed27569e.png)

Still more to do but before production ready but this is a good start for demos/POCs. Next follow-up tasks to do in their own jira.

[2020-05-07 14:13] #1010 closed

[2020-05-08 17:50] louisdecharson opened #1127 "Submit a coordinator from HDFS does not work - E1004"
**Describe the bug**

Submitting a coordinator stored in HDFS ( `coordinator.xml`) using the button 'Submit'  does not work : an alert pops up with the following Oozie error: `E1004: Expression language evaluation error, E1004: Expression language evaluation error, Unable to evaluate :${wf_application_path}:`
![issue_submitting_coordinator](https://user-images.githubusercontent.com/3234544/8143167

[2020-05-12 13:37] #1127 closed

[2020-05-18 14:19] alant94 opened #1131 "HUE 4.7 "'ascii' codec can't decode byte" error"
**Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?**
No, at least I couldn't find it

**Describe the bug:**
When running Hive or Impala query that contains special characters, for example `çã` the error is returned:
`'ascii' codec can't decode byte 0xc3 in position 90: ordinal not in range(128)`

Log file with more detai

[2020-05-18 16:20] rimolive opened #1132 "S3 Browser should accept s3a:// URI with credentials included."
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com? No

Describe the bug:

S3 Browser should list data using a URI like this:

`s3a://<access-key>:<secret-key>@<bucket-name>`

Which will list the objects from a bucket using different S3 credentials than the ones configured in Hue.

This URI can be used in HiveQL CREATE TABL

[2020-05-19 00:57] romainr commented on #1132
Good point, I know it works with public buckets but not with this format indeed.

[2020-05-19 00:59] romainr commented on #1131
Indeed, this is has not been working for a while. There are a few tricky unicode places to handle correctly. I faced a few of those while porting to Python 3 (in the fetch result call) and will see if possible to fix at some point.

[2020-05-19 04:17] arita37 commented on #438
Does this driver works in HUE now ?

[2020-05-19 06:16] alant94 commented on #1131
@romainr thanks for a quick reply!
In phrase "has not been working for a while" what amount of time is meant? Just want to highlight that this problem was noticed by my team only in Hue 4.7. So we rolled back to 4.6 where queries with special characters work fine.

[2020-05-19 17:50] romainr commented on #438
AFAIK this is not a SqlAlchemy connector so currently a 'Custom' connector would need to be used/created: https://docs.gethue.com/developer/connectors/

[2020-05-19 18:02] romainr commented on #1131
Indeed, I see the same with the HiveServer2 interface.

I was thinking about another issue, which is actually different:
`SELECT 'fix Lỗi CS1: ngày tháng'`

[2020-05-20 00:14] arita37 commented on #438
Any advice on how to create it ?
Sorry, am not familiar with HUE setup....

[2020-05-20 11:43] alant94 commented on #1110
FYI cloudera support answered the following regarding this issue:

After I asked for specifics in regards to future plans around notebooks the below information was provided:

There may no substitution available for the notebook...

Eventually **workaround to overcome this bug** worked for my team:

To overcome the error “Document does not exist”
![Hue_notebook_error](https://user-images.githubuse

[2020-05-20 18:11] romainr commented on #438
If there is no SqlAlchemy connector for Cassandra, above connector could be used for creating a specific interface that can be used by the Notebook API of Hue. Basically implementing the base API https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/connectors/base.py

https://docs.gethue.com/developer/connectors/#custom

[2020-05-20 22:11] arita37 commented on #438
Cassandra is NO-SQL, having own sql dialect...
So sql achemy not available.

[2020-05-21 09:39] eubnara opened #1133 "variables in REMOTE_DEPLOYMENT_DIR are not properly replaced"
I don't think so.

Variables in `liboozie.remote_deployement_dir` like ($USER, $JOBID, $TIME) are not properly replaced.
If `liboozie.remote_deployment_dir` is set like `/user/$USER/hue/oozie/deployments/oozie-$JOBID-$TIME`, the user of HUE tries to create `/user/$USER` with dollar sign as it is.

I know how to fix it. I will post pull request soon.

It always happen when there is variable in `lib

[2020-05-21 13:15] #1133 closed

[2020-05-23 18:03] romainr commented on #438
It does have SQL https://cassandra.apache.org/doc/latest/cql/dml.html#select
Many No-SQL Databases actually have SQL, e.g. Apache HBase / Phoenix https://phoenix.apache.org/

[2020-05-29 13:01] IncyLiu opened #1136 "Regular Expression DoS vulnerabilities in desktop/core/ext-py/"
Describe the bug:
We are working on the [ReDoS](https://www.owasp.org/index.php/Regular_expression_Denial_of_Service_-_ReDoS) problem and detected several vulnerable regexes from your code.

Vulnerable regex 1:
`(?:.*,)*\s*Negotiate\s*([^,]*),?` in [link](https://github.com/cloudera/hue/tree/master/desktop/core/ext-py/urllib2_kerberos-0.1.6/urllib2_kerberos.py) and [link](https://github.com/cloude

[2020-05-29 13:18] romainr commented on #1136
Thanks, those are in old libs not used or not managed by the project.

[2020-05-29 13:18] #1136 closed

[2020-05-31 17:21] arman1371 commented on #966
also i have this problem in importing data with hue
did you find the solution ?

[2020-06-01 07:48] daisy0123 opened #1137 "HUE4.4 Ozzie workflow page can't see the data when there are many nodes"
Hi，The workflow page can't see the data when there are many nodes. When scrolling to the right, the figure is not drawn. I hope you can help me solve this problem. Thank you

![image](https://user-images.githubusercontent.com/11910330/83387210-ef5c5000-a41e-11ea-9d0a-8d125744cd41.png)

[2020-06-01 13:15] romainr commented on #1137
This is expected in some older versions of Hue, up until a certain amount of nodes. Which version and how many nodes have you?

[2020-06-02 03:37] daisy0123 commented on #1137
version：4.4.0； nodes：25；Which version solves this problem ?
![image](https://user-images.githubusercontent.com/11910330/83477167-3a30a300-a4c5-11ea-9190-18c1d87ed115.png)
The content width is 250%, the width is large, and the content of data can't see when i scroll the  page.  please help me ! thanks

[2020-06-02 06:07] daisy0123 opened #1138 "HUE4.4 table data can't render"
hi, We use hue4.4 to query,but the data can't render.please help me, thanks
![image](https://user-images.githubusercontent.com/11910330/83485652-13c93280-a4da-11ea-97c2-03b3e5919c4a.png)

[2020-06-03 01:06] sungpeo opened #1139 "ERROR: desktop.auth.views_test.TestMultipleBackendLoginNoHadoop.test_login"
Describe the bug:
I try to run unit tests
[code]
But I got this error.

[code]

Steps to reproduce it?

[code]

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).
open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)

[2020-06-03 02:12] daisy0123 commented on #1138
I am not expanding many rows and columns, just query the sql and the data can't render, but it happens occasionally.

[2020-06-04 02:56] sungpeo opened #1142 "jenkins.sh try to use pylint in the build directory, but it doesn't exist."
Describe the bug:
`jenkins.sh` try to use `pylint` in the build directory.
but any process in `jenkin.sh`  try to install the `pylint`.

[code]

references release-4.7.0
https://github.com/cloudera/hue/blob/672437f3ea764089a4710aeb6012b27e6d884d9b/desktop/core/src/desktop/management/commands/runpylint.py#L61-L63

Steps to reproduce it?
[code]

Hue version or source? (e.g. open source 4.5, CDH 5.16

[2020-06-04 03:03] romainr commented on #1142
Live tests via jenkins.sh was not updated in a while. Currently the recommended way is to run only the unit tests https://docs.gethue.com/developer/development/#running-the-api-tests.

However, about the error,

`./build/env/bin/pip install pylint`

Should fix it.

[2020-06-04 10:26] sungpeo commented on #1142
@romainr I create a pull request about this issue. #1143
Could you check it ?

[2020-06-04 10:28] sungpeo opened #1145 "XxdTest:test_compare_to_xxd failed"
Describe the bug:
I try to run unit tests
[code]
But I got this error.

[code]
Steps to reproduce it?
[code]

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)
(python 2.7.5)

[2020-06-04 12:59] sungpeo opened #1147 "TestHiveserver2ApiWithHadoop failed during unit tests"
Describe the bug:

I try to run unit tests
[code]
But I got this error.
[code]

Steps to reproduce it?

[code]

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).
open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)

[2020-06-04 13:02] sungpeo commented on #1147
I think this  should not be run during unit tests.

[2020-06-04 13:38] sungpeo opened #1149 "FAIL: oozie.models2_tests.TestEditor.test_create_new_workflow during `test fast`"
Describe the bug:

I try to run unit tests
[code]
But I got this error.
[code]

Steps to reproduce it?

[code]

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)

[2020-06-04 14:08] romainr commented on #1145
Note on Python 3.8, xdd not installed:

./build/env/bin/hue test specific filebrowser.lib.xxd_test:XxdTest.test_compare_to_xxd

`======================================================================
ERROR: Runs xxd on some random text, and compares output with our xxd.
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/romain/pr

[2020-06-04 14:19] #1145 closed

[2020-06-04 14:32] #1139 closed

[2020-06-04 14:56] #1147 closed

[2020-06-04 15:16] #1142 closed

[2020-06-04 23:03] sungpeo opened #1152 "FAIL: notebook.api_tests.TestNotebookApiMocked.test_export_result during `test fast`"
Describe the bug:
I try to run unit tests

[code]

But I got this error.
[code]
Steps to reproduce it?

[code]

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)

[2020-06-04 23:46] #1152 closed

[2020-06-04 23:47] sungpeo commented on #1152
Sorry, I confused.
This issues was resolved by https://github.com/cloudera/hue/commit/c0c404f73239630dd56e3f3f862188e022eff90f I wrote

[2020-06-08 02:43] sungpeo opened #1156 "During `test all`, FAIL: Proxying test"
**Describe the bug:**
During `./build/env/bin/hue test all`, both of `Proxying test` and `Proxying test, using POST` fail like below.

[code]
**Steps to reproduce it?**

[code]
These tests fails only during integration test.
Those succeed when it triggered by `test specific`

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**
open source 4.7

[2020-06-08 03:55] sungpeo opened #1157 "During `test all`, FAIL: metastore.tests.TestApi.test_show_tables"
**Describe the bug:**

During `./build/env/bin/hue test all`, `metastore.tests.TestApi.test_show_tables` fails like below.

[code]

**Steps to reproduce it?**

[code]
These tests fails only during integration test.
Those succeed when it triggered by test specific

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS L

[2020-06-08 06:26] sungpeo commented on #1157
I debugged it.
The test user need to have permission to access the Metastore application.

[code]

[2020-06-08 07:45] sungpeo opened #1159 "During `test all`, FAIL: filebrowser.views_test.TestFileBrowserWithHadoop.test_extract_zip"
**Describe the bug:**

`filebrowser.views_test.TestFileBrowserWithHadoop.test_extract_zip` fails.

[code]

[code]

**Steps to reproduce it?**

mentioned above
[code]

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)

[2020-06-08 10:11] xiashei opened #1160 "how to save username and password in prestoSQL"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?
no
Describe the bug:
I can set username and passwd in hive，by use the Query setting
![微信图片_20200608181140](https://user-images.githubusercontent.com/28834220/84019511-f1d91f80-a9b3-11ea-9baf-3ddb31cd97f3.png)

but not in prestoSQL

![微信图片_20200608181205](https://user-image

[2020-06-08 16:48] #1156 closed

[2020-06-09 02:15] romainr commented on #1160
Have you tried to put the ${USER} and ${PASSWORD} in the url?

e.g.
https://docs.gethue.com/administrator/configuration/connectors/#databases

[2020-06-09 02:57] xiashei commented on #1160
yes,here is the setting of presto:
"url": "presto://${USER}:${PASSWORD}@xxxx:por/hive/xxxx'.

and it's also why I want to save the password.
I used to use 'presto://xxxx:por/hive/xxxx',and it works,after I add ldap to presto,I need the username and password.  and the log is "'Missing username and/or password'"

[2020-06-09 16:56] #1157 closed

[2020-06-10 00:17] #1159 closed

[2020-06-10 00:19] sungpeo commented on #1159
Sorry, it was the reason why I configured wrong. (hadoop-2.10)

[2020-06-10 04:17] sungpeo opened #1163 "During `test all`, FAIL: desktop.auth.views_test.TestLoginWithHadoop.test_login"
**Describe the bug:**

`desktop.auth.views_test.TestLoginWithHadoop.test_login` fails.

[code]

[code]

**Steps to reproduce it?**

[code]

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)

[2020-06-10 23:01] sungpeo commented on #1163
Thank you for noticing me the commit. (I cherry picked the commit, and no more error logs)
The reason of the fail is `Not creating home directory`.
[code]

[2020-06-11 00:27] romainr commented on #1163
We would so need to trobuleshoot back up why `def ensure_home_directory(fs, user):` is getting None for the fs argument

[2020-06-11 01:52] sungpeo opened #1164 "During `test all`, FAIL: Expiration test without superusers"
**Describe the bug:**

During `test all`,
`desktop.auth.views_test:TestLogin.test_login_expiration` fails.

[code]

Result
[code]

**Steps to reproduce it?**

[code]

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)

[2020-06-11 05:28] sungpeo commented on #1163
Yes, I coundn't find it.
so I wanted to know a way to set the `fs` to the request? `request.fs`

[2020-06-11 05:53] sungpeo opened #1166 "During `test all`, FAIL: liboozie.oozie_api_tests.TestOozieWorkspace.test_workspace_has_enough_permissions"
**Describe the bug:**
During `test all`,
`liboozie.oozie_api_tests.TestOozieWorkspace.test_workspace_has_enough_permissions` fails.

[code]

Log for this failure:
[code]

**Steps to reproduce it?**

[code]

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOp

[2020-06-11 06:15] xiashei commented on #1048
Is the way you can set username and password in hive  in here?
![image](https://user-images.githubusercontent.com/28834220/84019511-f1d91f80-a9b3-11ea-9baf-3ddb31cd97f3.png)
but how can I do the same thing in presetoSql? it's not work.
![image](https://user-images.githubusercontent.com/28834220/84019531-f69dd380-a9b3-11ea-8f04-01b790e87842.png)

[2020-06-11 09:29] #1166 closed

[2020-06-11 13:47] romainr commented on #1163
Yes, it is called with `request.fs`, which should be set via the middeware:
https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/middleware.py#L133

Maybe adding more debug info there?

[2020-06-11 14:09] #1164 closed

[2020-06-11 14:15] romainr commented on #1160
Some Properties come from https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/js/apps/notebook/snippet.js#L96 but that might not be the good spot.

IIRC the username/password should be prompted. Persistence wise they are not saved in the browser yet.

[2020-06-11 23:01] sungpeo opened #1167 "During `test all`, FAIL: about.tests.TestAbout.test_admin_wizard_permissions"
**Describe the bug:**

During integration test (`./build/env/bin/hue test all`),

`about.tests.TestAbout.test_admin_wizard_permissions` fails.

Result:
[code]

**Steps to reproduce it?**
[code]

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build

[2020-06-12 00:05] #1167 closed

[2020-06-12 02:50] xiashei commented on #1160
Got it ,thank you

[2020-06-12 02:50] #1160 closed

[2020-06-12 16:39] sungpeo opened #1171 "During `test all`, ERROR: filebrowser.views_test.TestFileBrowserWithHadoop.test_view_i18n"
**Describe the bug:**

Error occurred in `filebrowser.views_test.TestFileBrowserWithHadoop.test_view_i18n`

[code]
**Steps to reproduce it?**

[code]

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)

[2020-06-12 17:07] #1171 closed

[2020-06-15 04:30] sungpeo opened #1173 "During `test all`, ERROR: filebrowser.views_test.TestFileBrowserWithHadoop.test_compress_hdfs_files"
**Describe the bug:**

During integration test (`./build/env/bin/hue test all`)
I got the below error.

[code]

Steps to reproduce it?
[code]

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)

[2020-06-15 05:08] sungpeo opened #1175 "During `test all`, ERROR: beeswax.tests.TestHive.test_install_examples"
**Describe the bug:**

During integration test (`./build/env/bin/hue test all`)
I got the below error.

[code]

**Steps to reproduce it?**

[code]

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)

[2020-06-15 05:20] sungpeo opened #1177 "During `test all`, FAIL: beeswax.tests.TestBeeswaxWithHadoop.test_analyze_table_and_read_statistics"
**Describe the bug:**

During integration test(`./build/env/bin/hue test all`)
FAIL: beeswax.tests.TestBeeswaxWithHadoop.test_analyze_table_and_read_statistics

I got the below error.
[code]
**Steps to reproduce it?**

[code]

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime

[2020-06-15 09:41] sungpeo opened #1180 "During integration test, FAIL: beeswax.tests.TestBeeswaxWithHadoop.test_select_query_server"
**Describe the bug:**

During integration test(`./build/env/bin/hue test all`)
FAIL: beeswax.tests.TestBeeswaxWithHadoop.test_select_query_server

[code]

**Steps to reproduce it?**

[code]

**Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).**

open source 4.7.0
CentOS Linux release 7.7.1908
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8

[2020-06-15 13:17] #1175 closed

[2020-06-15 14:34] #1173 closed

[2020-06-15 14:57] #1180 closed

[2020-06-15 15:12] #1177 closed

[2020-06-16 03:17] tulingfeng opened #1182 "docker run has error: standard_init_linux.go:220: exec user process caused "exec format error""
Hello,I use docker to run hue:
[code]
But has error:
[code]
My runtime platform is arm64, is this images built for x86_x64 platform only?

[2020-06-16 03:25] romainr commented on #1182
Weird, this is the image used by https://gethue.com. Here is the docker file https://github.com/cloudera/hue/blob/master/tools/docker/hue/Dockerfile

[2020-06-16 04:22] tulingfeng commented on #1182
I try to build the image based on the Dockerfile, but the same error appeared in step 4:
[code]
What shoud I do now?

[2020-06-18 03:34] daisy0123 opened #1183 "【HUE4.0】workflows page can not fallback."
![image](https://user-images.githubusercontent.com/11910330/84975212-656af180-b157-11ea-86c2-2069583a1089.png)
On the workflow page, when I click the browser fallback button, the page does not respond and will not load the fallback page. please help me! thanks!

[2020-06-18 06:59] stephbat opened #1184 "HIVE HA : automatic failover"
Hi

I have installed HUE 4.6.0 and configured it to work with HIVE HA (see configuration below).
If an HiveServer2 instance failed while HUE is connected, I can see that the connection is cut.
Is there a automatic failover handled by HUE in order to reconnect to the new available HiveServer2 instances inside the cluster using Zookeeper ?

[beeswax]
  hive_server_port=10000
  hive_discovery_hs2 = t

[2020-06-18 13:09] romainr commented on #1184
https://issues.cloudera.org/browse/HUE-9358

[2020-06-18 13:57] discoteka opened #1185 "Hue 4.0.0 User 'hue' not allowed to impersonate 'Some(example_username)'"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug: When I'm trying to open R, Scala or PySpark editor, I receive the following error: {"msg":"User 'hue' not allowed to impersonate 'Some(example_username)'."} (error 403)
Unfortunately, for now there is no option to upgrade Hue. Any ideas how can resolve i

[2020-06-18 14:01] discoteka opened #1186 "Hue 4.0.0 - Spark-submit Python/Scala - Execute button disabled"
Describe the bug: When I open Spark-submit for Python or Scala and fill path for .jar or .py I'm not able to click Execute button. It looks like disabled.

Steps to reproduce it? Everytime when I want to use that options It's disabled.

Hue version or source? Hue 4.0.0, Redhat 7.8

[2020-06-18 14:30] romainr commented on #1186
Please upgrade to at least version 4.7 which probably have a fix https://docs.gethue.com/releases/release-notes-4.7.0/

[2020-06-18 14:31] romainr commented on #1185
This means that at the Livy level you should autorize Hue to impersonate 'bob' or disable the impersonation in the Hue settings

[2020-06-19 02:39] tulingfeng opened #1187 "HUE 4.4 'ascii' codec can't encode characters in position"
Hello, I want to access hdfs file by hue，but when I click the file,the error appeared:
[code]
Someone suggested me to fix python2.7 sys encoding,I did it by touch sitecustomize.py in /usr/lib/python2.7/site-packages folder,But this time another error appeared:
[code]
My Hdfs config is as follows:
[code]

How could I fix this?

[2020-06-19 04:18] romainr commented on #1187
What are your Hue and Python versions?

[2020-06-19 04:20] romainr commented on #1187
2.7 amd git clone of master?

Hum, second error is not very clear. Can you browse other parts of the file system without problems?

[2020-06-19 04:23] tulingfeng commented on #1187
Hello,I download the master hue zip to make，what's version is it? My python version is 2.7.15

[2020-06-19 04:27] tulingfeng commented on #1187
I can browser folders of hdfs but cannot click textfile to view its content.In addition， I can view hive table content

[2020-06-19 04:28] tulingfeng commented on #1187
I can browser folders of hdfs but cannot click textfile to view its content.In addition, I can view hive table content

[2020-06-19 08:14] #1186 closed

[2020-06-20 02:46] tulingfeng commented on #1187
hello，I found the error may: cannot access the hdfs file，I logger the message:
[code]
I doubt whether my name is hue but hdfs user is dev? how could I fix it?

[2020-07-01 07:16] Faiz2 opened #1197 "KSQLDB Query Error Message "list indices must be integers, not str"
Sorry i don't have good english

**I am using k8s to deploy hue, configured KSQLDB, and encountered error feedback during query.
I am clueless and need help
I configured according to the official document, this is the link**:[https://docs.gethue.com/administrator/configuration/connectors/#ksqldb](https://docs.gethue.com/administrator/configuration/connectors/#ksqldb)
**This is the configuration of

[2020-07-01 07:18] Faiz2 opened #1198 "KSQLDB Query Error Message "list indices must be integers, not str""
Sorry i don't have good english

**I am using k8s to deploy hue, configured KSQLDB, and encountered error feedback during query.
I am clueless and need help
I configured according to the official document, this is the link**:[https://docs.gethue.com/administrator/configuration/connectors/#ksqldb](https://docs.gethue.com/administrator/configuration/connectors/#ksqldb)
**This is the configuration of

[2020-07-01 07:45] discoteka opened #1199 "Hue 4.7 Table 'hue.desktop_settings' doesn't exist"
Describe the bug: It's a new installation. I've configured mysql database for Hue. I see some tables (list attached below), but table hue.desktop_settings haven't been created. How is it possible. What should I do this?

Thanks

| ROLLBACK_TEST                  |
| auth_group                     |
| auth_group_permissions         |
| auth_permission                |
| auth_user

[2020-07-01 07:56] discoteka commented on #1199
It has been resolved by execute command:

/usr/local/hue/build/env/bin/hue syncdb
/usr/local/hue/build/env/bin/hue migrate

[2020-07-01 07:56] #1199 closed

[2020-07-01 10:42] discoteka opened #1200 "Hue 4.7 Can't login using LDAP credentials"
Describe the bug: I've setup LDAP integration, but it doesn't work. It's copy paste from old version of Hue to newer and it was working fine.

When I provide my credentials I'm receiving on yellow background error like this:

Request Method: | POST
-- | --
http://HOSTNAME:8888/hue/accounts/login
1.11.29
TransactionManagementError
An error occurred in the current transaction. You can't execute quer

[2020-07-01 14:00] romainr commented on #1198
There should be a trace in the Hue logs with more info.

Will have a more specific look next week

On Wed, Jul 1, 2020, 12:18 AM Alex <notifications@github.com> wrote:

[2020-07-02 04:58] Faiz2 commented on #1198
@romainr
**exectue ksql log info**

![image](https://user-images.githubusercontent.com/18616592/86318017-73466980-bc63-11ea-9cd7-c7e5507dad82.png)

[02/Jul/2020 12:41:12 +0800] access       INFO     142.11.215.210 alex - "POST /desktop/log_analytics HTTP/1.1" - (mem: 1196mb)-- PAGE: editor/showLongOperationWarning
[02/Jul/2020 12:41:12 +0800] access       INFO     142.11.215.210 alex - "POST /desk

[2020-07-02 06:46] #1185 closed

[2020-07-06 13:41] #1200 closed

[2020-07-08 06:48] zhang-jc opened #1205 "Comment for the column of a table is not shown"
Comment for the column of a table  is not shown in table browser.

hive table:

`create table tbl_column_comment_test(
    col1 string comment 'comment1',
    col2 int comment 'this is a number'
)
stored as orc;`

![屏幕截图_10](https://user-images.githubusercontent.com/18087653/86886395-70e38400-c129-11ea-9c86-ddb52d4a2dbb.png)

The comment is shown when click the column for more detail.

![屏幕截图_11](

[2020-07-08 14:04] romainr commented on #1205
@sreenaths Have a look why at some point?

[2020-07-08 15:13] romainr commented on #1198
How about?

`SELECT * FROM MY_STREAM EMIT CHANGES LIMIT 3;`

`SHOW STREAMS`

[2020-07-09 04:59] aaggarwal-cpi opened #1206 "Deleted method SparkApi.get_properties being used in notebook/views.py causing Internal Server Error"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?
No

Describe the bug: Deleted method SparkApi.get_properties being used in notebook/views.py causing Internal Server Error

Steps to reproduce it?
Open Notebook app

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).
htt

[2020-07-09 05:04] aaggarwal-cpi opened #1207 "Broken group mapping in saml2"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?
No

Describe the bug:
djangosaml2 is calling group model to set groups given by idp in saml response but failing with following exception -
hue_1     | [08/Jul/2020 12:16:04 -0700] exception    ERROR    Internal Server Error: /saml2/acs/
hue_1     | Traceback (most recent

[2020-07-09 05:27] romainr commented on #1206
Probably caused via https://github.com/cloudera/hue/commit/b12709aec841899d7916e2dcd49ddb2f3248844d#diff-d23ff2e879048aa485411a829b76cf80 @e11it ?

[2020-07-09 05:46] aaggarwal-cpi commented on #1206
yep, new method name is to_properties. So in this case we need to replace references to get_properties with to_properties. I think there is only one - https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/views.py#L101 but I maybe wrong here.

[2020-07-09 05:48] romainr commented on #1207
Weird, what is the value of `attr_value_list` (print(attr_value_list) before 'hue_1 | modified = user_attr(attr_value_list)')?

[2020-07-09 05:52] aaggarwal-cpi commented on #1207
It is an array. exact value is = [u'analyst']
I think the issue is user_attr is group model which is many to many and __call__ doesn't take any params.

[2020-07-09 12:12] sreenaths commented on #1205
Thanks @romainr

Looks like a bug.
Created https://issues.cloudera.org/browse/HUE-9408 for tracking the fix.

[2020-07-09 14:02] zhang-jc commented on #1205
Thanks a lot !

[2020-07-10 13:37] romainr commented on #1206
Indeed, it changed from https://github.com/cloudera/hue/commit/b12709aec841899d7916e2dcd49ddb2f3248844d#diff-35dde414d784cdc2211222ea3bfea5d6L154 to https://github.com/cloudera/hue/commit/b12709aec841899d7916e2dcd49ddb2f3248844d#diff-35dde414d784cdc2211222ea3bfea5d6R187 so could use `to_properties()` instead!

Would you be able to send a pull request?

[2020-07-10 13:45] romainr commented on #1207
Shouldn't the format of `user_attribute_mapping` be more like a dict?
[code]

[2020-07-10 17:06] #1206 closed

[2020-07-10 17:10] aaggarwal-cpi commented on #1207
@romainr as per https://docs.cloudera.com/documentation/enterprise/6/6.3/topics/hue_sec_saml_auth.html it should be
`user_attribute_mapping={'uid': 'username'}`

[2020-07-10 17:13] aaggarwal-cpi commented on #1206
thanks @romainr for working on this.

[2020-07-13 10:26] lynch0227 opened #1210 "meet ascii error when download non-english character with csv format"
**Describe the bug:**
Traceback (most recent call last):
  File "/usr/share/hue/desktop/core/src/desktop/lib/wsgiserver.py", line 1228, in communicate
    req.respond()
  File "/usr/share/hue/desktop/core/src/desktop/lib/wsgiserver.py", line 589, in respond
    self._respond()
  File "/usr/share/hue/desktop/core/src/desktop/lib/wsgiserver.py", line 603, in _respond
    for chunk in response:
  Fil

[2020-07-15 11:57] SachinJanani opened #1212 "Demo sql parser app in tools directory is not compiling"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:
* Compilation of demo app for sql parser in tools directory is failing
Throws following error:

`ERROR in /root/sachin/test_parsers1/hue/desktop/core/src/desktop/js/sql/reference/typeUtils.ts
Module build failed (from ./node_modules/babel-loader/lib/inde

[2020-07-15 12:48] romainr commented on #1212
Adding links with references:
https://docs.gethue.com/developer/api/#npm-package
https://github.com/cloudera/hue/tree/master/tools/parser/hue_dep

@sreenaths, maybe related to the recent changes?

[2020-07-15 17:03] SachinJanani commented on #1212
@romainr thanks for sharing this links. I followed the same document but it didn't worked.

[2020-07-15 18:20] romainr commented on #1212
Yes it is broken, maybe in the meantime, if you are just looking at reusing the parser as is, you could point to the published one?

e.g. remove the local dependency:

[code]

and

`npm install gethue`

[2020-07-15 18:23] SachinJanani commented on #1212
Thanks @romainr will try this out.

[2020-07-15 18:48] SachinJanani commented on #1212
I tried and it works fine with some modification in app code. Thanks @romainr

[2020-07-17 10:18] Faiz2 commented on #1198
@romainr
No change, the error is the same as the log I provided last time
`SHOW STREAMS`
![image](https://user-images.githubusercontent.com/18616592/87775868-5f048e00-c859-11ea-88a7-14014bcaeeca.png)

`SELECT * FROM MY_STREAM EMIT CHANGES LIMIT 3`
![image](https://user-images.githubusercontent.com/18616592/87775944-7ba0c600-c859-11ea-8cf1-14dbb2957e8b.png)

[2020-07-17 12:12] romainr commented on #1198
Could you use with a real stream table that gets live data if you do a live query, e.g. `pageviews_original`

`SELECT pageid FROM pageviews_original EMIT CHANGES LIMIT 3;`

[2020-07-22 04:04] HuangtianyuCN commented on #1083
请问sqlalchemy-clickhouse这个包能正常用么，我pip安装之后再启动就是包里的各种不兼容py2的问题

[2020-07-27 10:27] bhaskarroy19 opened #1215 "Hue trying connecting to old hive server ip and throwing StructuredThriftTransportException"
Hue version: 3.9.0
Logs:
`[27/Jul/2020 14:46:46 +0530] dbms         DEBUG    Query Server: {'server_name': 'beeswax', 'transport_mode': 'socket', 'server_host': '10.48.50.247', 'server_port': 10000, 'http_url': 'http://10.48.50.247:10001/cliservice', 'principal':
None}
[27/Jul/2020 14:46:46 +0530] thrift_util  INFO     Thrift exception; retrying: Could not connect to 10.50.210.130:10000
[27/Jul/20

[2020-07-27 12:39] romainr commented on #1215
There is indeed an old bug about this when updating the Hive host. One workaround is to click to close the session so that it will pick up the fresh one.

This will be fixed properly via https://issues.cloudera.org/browse/HUE-8758

[2020-07-28 08:49] bhaskarroy19 commented on #1215
In the Hue database, there are two session tables present, 1. beeswax_session, and 2. django_session. So does close the sessions mean clear all the entries from those tables or only clear django_session table or only clear beeswax_session?.

[2020-07-28 09:30] bhaskarroy19 commented on #1215
@romainr , another note that during my debugging I also came to conclusions that probably the django session is creating this problem, so I deleted a few sessions for a blocked user but the problem of thrift server calling to old hive server. One thing I am suspecting that our django_session table has lots of rows and we don't delete them manually, so it may happen that for a user there are too ma

[2020-07-28 13:03] romainr commented on #1215
`beeswax_session` should be the table that matters only, it is storing the "old hostnames" of the HiveServer.

`django_session` should not have any effect on this issue (except logging out the Hue user).

Do you often change the hostname of the HiveServer? This will be fixed properly via https://issues.cloudera.org/browse/HUE-8758

[2020-07-29 07:11] sachinunravel opened #1227 "TypeError: parser.addFunctionArgumentLocations is not a function when using Syntax parser to parse sql query with UDF"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com? No

Describe the bug:
When running a syntax parser test which parse sql queries with UDF it shows following error. This error can only be seen if **debug logs are enabled** and it definetly stopping the syntax parsing of that query.

`TypeError: parser.addFunctionArgumentL

[2020-07-29 08:09] sachinunravel commented on #1227
This issue is fixed if we add **addFunctionArgumentLocations** function name in constants array **SYNTAX_PARSER_NOOP_FUNCTIONS** in sqlParseUtils. But then it fails ahead with the following exception:

`TypeError: Cannot read property 'first_line' of undefined
        at Object.apply (/root/sachin/hue/desktop/core/src/desktop/js/parse/sql/hive/hiveSyntaxParser.js:3258:46)
        at Object.parse (

[2020-07-29 08:12] JohanAhlen commented on #1227
Thanks for reporting this! It's indeed a recently introduced bug, I'll take a look.

[2020-07-29 13:43] bhaskarroy19 commented on #1215
update: I cleared all entries of beeswax_session but it didn't work.

not often. it is happening after long time.

[2020-07-29 13:50] romainr commented on #1215
How often do you change the hive server hostname?

On Wed, Jul 29, 2020, 6:43 AM bhaskarroy19 <notifications@github.com> wrote:

[2020-07-30 09:07] JohanAhlen commented on #1227
Fixed with 8ba5f91a66d34b371a3f805677980f70c1b19349

[2020-07-30 09:07] #1227 closed

[2020-07-30 10:20] sachinunravel commented on #1227
Thanks @JohanAhlen

[2020-07-30 11:18] bhaskarroy19 commented on #1215
It depends on the m/c maintenance status. But since last year we changed it only two times.

[2020-07-31 09:45] gps035 opened #1230 "No docker tag available for version 4.7.1"
It looks like the latest stable release of Hue is 4.7.1, but there is no docker tag for this version.
Would it be possible to push this tag?

For now we are trying 4.7.0, but I'm not sure if the bug fixes in this patch release are significant.

P.S. Sorry for not following the issue template, but it didn't seem relevant to this one as it is not a bug.

[2020-08-02 12:16] sachinunravel opened #1232 "Impala syntax parser fails to parse insert statement on partition table with only partition column (without key) in partition clause"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:  Impala syntax parser fails to parse insert statement on partition table with only partition column (without key) in partition clause

Steps to reproduce it?
* Run impala syntax parser to parse the following statement: **_insert into t1 (v1) partition(c1

[2020-08-02 12:16] sachinunravel commented on #1232
I have created a PR for this can someone please have a look https://github.com/cloudera/hue/pull/1231

[2020-08-02 17:36] romainr commented on #1230
It should be good now: https://hub.docker.com/layers/gethue/hue/4.7.1/images/sha256-7cd74a99e95488c2cb0be5df7d0cbd6c80197e0e8e753d9f2ec80d110a23f927?context=repo

[2020-08-02 17:36] #1230 closed

[2020-08-02 17:38] gps035 commented on #1230
Thanks for that.

[2020-08-03 08:58] bhaskarroy19 commented on #1215
*Bump*

Looking for a workaround.

[2020-08-03 14:20] #1232 closed

[2020-08-04 03:51] archzi opened #1236 "found that python3 is not supported"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:

According to the latest documentation , I want to make hue and install to the server, but I found that python3 is not supported
Steps to reproduce it?

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...

[2020-08-05 01:09] annyip commented on #1200
Could you share how you fixed this error?

[2020-08-05 19:15] SachinJanani opened #1237 "Impala and hive syntax parser fails for queries having subquery in from clause"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:

Steps to reproduce it? : Try to parse the following query: **SELECT avg(t1.x), max(t1.y) FROM (SELECT x,y from a) AS t1;**

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

[2020-08-05 19:16] SachinJanani commented on #1237
Following is the stack trace seen for this query:
`    TypeError: Cannot read property 'columns' of undefined

      3745 |
      3746 |      var subQuery = parser.getSubQuery($$[$0]);

           |               ^
      3748 |        parser.expandIdentifierChain({ wrapper: column });
      3749 |        delete column.linked;
      3750 |      });

      at Object.apply (desktop/core/src/desktop/j

[2020-08-08 04:34] romainr commented on #1237
Sounds like a legit bug. Would you be interested in working on the parser? https://docs.gethue.com/developer/parsers/

Also will check on the master branch which got a lot of improvements compared to 4.5 (4.8 is coming soon).

[2020-08-10 13:50] elukey opened #1239 "Building a debian package with Python 3.7 deps"
Describe the bug:

Hi! This is more a request to figure out what is the best procedure to build Hue from source, and then package it (in my case, in a deb package). From the documentation I see that `make apps` is needed to populate the `build` directory, and I though that the Debian package needed only to copy that directory on the target system, but then I realized that the procedure is more com

[2020-08-10 14:45] romainr commented on #1239
Have you looked at Hue in Apache BigTop the and https://github.com/cloudera/hue/blob/master/tools/docker/hue/Dockerfile.py3 ?

[2020-08-10 20:11] elukey commented on #1239
@romainr Thanks a lot for the links, BigTop doesn't package anymore Hue but the Docker file was very helpful (especially https://github.com/cloudera/hue/blob/master/tools/docker/hue/Dockerfile.py3#L45 that solves the py2 build issues).

The remaining problem is that if I use something like `PREFIX=/tmp/hue-build` for make install (inside the debian build) it works fine (cannot use more priviledged

[2020-08-11 07:07] elukey commented on #1239
I also found another strange thing:

[code]

As far as I understand unbuffered I/O is only available in binary mode for python3.

[2020-08-11 08:05] elukey commented on #1239
Same thing in:

[code]

And also:

[code]

IIUC `file` is not supported in python3, it needs open.

[2020-08-11 12:35] romainr commented on #1239
Indeed, looks like some components still miss a few relatively small Python 3 changes (missed as lack of test coverage and I use cherrpy/gunicorn in Python 3), but those should be very few.

Would you able to send a pull request for those to make it compatible both for Python 2/3? I can help on the review.

[2020-08-12 00:32] bweissler-sf opened #1242 "Kubernetes Quick Start Fails if database pod not ready in time"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug: Kubernetes quick start fails with hue pod crashing.

Steps to reproduce it?
[code]

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).
Pulled on Aug 11, 2020 gethue/hue:latest.
[code]

Kubernetes via D

[2020-08-12 00:45] bweissler-sf opened #1243 "Kubernetes Quick Start from Clone Fails with no matches for ServiceMonitor"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug: Kubernetes quick start from clone fails to build (error below).

Steps to reproduce it?

Followed steps at https://github.com/cloudera/hue/tree/testing/tools/kubernetes#quick-start.
[code]

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0.

[2020-08-12 07:04] elukey commented on #1239
Of course! Will try to send one asap, there are some bits that are not clear to me, I'll try to propose something so we can discuss what's best in the pull request.

[2020-08-12 11:45] bhaskarroy19 commented on #1215
@romainr, Hi I need some info about how the hiver-server2 host gets discovered?, means when someone login to hue then what is the flow from there to hiveserver2 discovery for any user, where it looks for any user-specific profile/cache if any.

[2020-08-12 13:58] elukey commented on #1239
@romainr the bit of code that I am trying to port now is `wsgiserver.py`:

`_fileobject_uses_str_type = isinstance(socket._fileobject(None)._rbuf, basestring)`

The `_fileobject_uses_str_type` variable is then used afterwards to create a class, that I guess is meant to work with binary vs text? `socket._fileobject` is deprecated in python3, do you have any indication/suggestion about how to procee

[2020-08-12 14:07] elukey commented on #1239
Given the fact that the change to wsgiserver.py are big it might be better to just use gunicorn, do you have any examples about how do do it? I am using this config since I checked what was present inside CDH packages, so I am fine to use gunicorn as alternative.

[2020-08-12 14:15] romainr commented on #1239
In the hue.ini, you can look for:

[code]

and https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/management/commands/rungunicornserver.py

It works pretty well for me, curious how it works for other people

[2020-08-13 00:22] romainr commented on #1242
I wonder if the `latest` image was just bad. Still having an issue now?

How about with this image?

`docker pull gethue/hue:20200811-135001`

https://hub.docker.com/repository/docker/gethue/hue/tags?page=1

[2020-08-13 00:24] romainr commented on #1243
Indeed, let's change in values.yaml

[code]

to

[code]

[2020-08-13 00:26] romainr commented on #1243
https://review.cloudera.org/r/15380/

[2020-08-13 00:30] domino-alee commented on #698
@enricoberti sorry to bump this old thread but can you advise on where to look? think the files have changed in past 2 years. i'm trying to embed hue via iframe but it randomly refreshes the page and jumps to hue URL after initial load

[2020-08-13 01:51] shenbinglife opened #1245 "Can hue4.2 add several different hiveserver2 interface ?"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:
i have a sparksql thrift server, i can add it into [beesaw] and [[[hive]]] using hiveserver2 interface, but i can not config my origin hive server addr.

Steps to reproduce it?
config CDH hue hue_safety_valve.ini
[code]

Hue version or source? (e.g. open

[2020-08-13 05:52] #1245 closed

[2020-08-13 09:44] elukey commented on #1239
@romainr I tried to give it a go, but I found some troubles that are almost surely my fault. I started from this systemd unit config:

[code]

I tried to find a way to specify /var/log/hue as logging dir, but I didn't find one, so I specified `WorkingDirectory=/usr/lib/hue` and the `logs` dir was created in there. Not ideal, but I am surely missing a config bit somewhere.

I also had to set `DJANG

[2020-08-13 15:05] bweissler-sf commented on #1242
Thanks for the reply @romainr.  Unfortunately I'm seeing the same behavior using that image (`helm install gethue/hue --generate-name --set image.tag=20200811-135001`).

I also tried `gethue/hue:20200813-131731`.  Same errors again.

[2020-08-13 15:23] bweissler-sf commented on #1243
Thanks @romainr .  Setting monitoring to false got things rolling.  However, now I'm getting the same behavior as with https://github.com/cloudera/hue/issues/1242.

[code]

[2020-08-13 15:41] #1243 closed

[2020-08-13 21:38] romainr commented on #1242
What is the full error trace that should you see in the bottom of `kubectl logs hue-8d5664d77-p8zv2 hue`?

[2020-08-13 21:45] romainr commented on #1242
If
[code]

it is because `jobbrowser` is in the blacklist, would need to do a code fix or update the default hue.ini

app_blacklist=spark,zookeeper,hbase,sqoop,security,jobsub,...jobbrowser

[2020-08-14 12:48] romainr commented on #1242
Should fix it https://issues.cloudera.org/browse/HUE-9450

[2020-08-14 14:22] elukey commented on #1239
@romainr any idea about the above error? I can't figure out from the code where one could have `get()` working.. But since you mentioned that it works very well for your use case, then I am a bit confused..

[2020-08-14 19:02] DRavikanth opened #1246 "Presto SQLAlchemy Interface over Https fails to connect to the server"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug: For SSL enabled Presto Cluster Hue's SQLAlchemy interface fails to connect.

Steps to reproduce it?
Our Presto cluster is SSL LDAP enabled, so configured it like below in Notebook section:

Case-1:
[[[presto]]]
interface=sqlalchemy
name=Presto
options=’{

[2020-08-15 15:04] romainr commented on #1246
It should also need `'auth': 'LDAP'` in the options

[2020-08-15 16:24] DRavikanth commented on #1246
OK. Added the suggested option and now my notebook is like below:
`
[[[presto]]]
          interface=sqlalchemy
          name=Presto
          options='{"url": "presto://user:pwd@https://presto-coordinator:8443/hive/dwh", "auth":"LDAP"}'
`

But, I get the same error:
`
[15/Aug/2020 09:21:45 -0700] sql_alchemy  ERROR    Query Error
Traceback (most recent call last):
  File "/usr/share/hue/desktop/

[2020-08-15 18:06] romainr commented on #1246
`https://` seems to conflict here, it should be an hostname

[2020-08-15 19:23] DRavikanth commented on #1246
**Tried below:**

      [[interpreters]]
        [[[presto]]]
          interface=sqlalchemy
          name=Presto
          options='{"url": "presto://user:password@presto-coordinator(without https):8443/hive/dwh", "auth": "LDAP"}'

**New exception:**

[15/Aug/2020 12:20:02 -0700] sql_alchemy  ERROR    Query Error
Traceback (most recent call last):
  File "/usr/share/hue/desktop/libs/notebook/src

[2020-08-15 19:58] DRavikanth commented on #1246
Referring to: https://github.com/dropbox/PyHive#sqlalchemy

It looks like we need to pass the additional options in connect_args So, tried the below(I am not sure how can translate these options but a try).

          interface=sqlalchemy
          name=Presto
          options='{"url": "presto://user:pwd@presto-coordinator(without https):8443/hive/dwh", "connect_args":"{'auth': 'LDAP', 'protocol'

[2020-08-15 20:09] DRavikanth commented on #1246
**Update:**

          interface=sqlalchemy
          name=Presto
          options='{"url": "presto://user:pwd@presto-coordinator(without https):8443/hive/dwh", "connect_args":"{\"auth\": \"LDAP\", \"protocol\": \"https\"}"}'

**Exception:**

Traceback (most recent call last):
  File "/usr/share/hue/desktop/libs/notebook/src/notebook/connectors/sql_alchemy.py", line 98, in decorator
    return fu

[2020-08-15 21:26] romainr commented on #1246
`options='{"url": "presto://user:pwd@presto-coordinator(without https):8443/hive/dwh", "auth": "LDAP", "protocol": "https"}'`

?

[2020-08-15 21:41] DRavikanth commented on #1246
@romainr, already tried this and pasted the result above. Please check: https://github.com/cloudera/hue/issues/1246#issuecomment-674438145

[2020-08-16 13:15] romainr commented on #1246
So as the content is not a simple type, we probably need to do the same as for `connect_args` same as `credentials_json`:

`options='{"url": "presto://user:pwd@presto-coordinator(without https):8443/hive/dwh", "connect_args":"{\"auth\": \"LDAP\", \"protocol\": \"https\"}"}'
`
And add the same block of code like:
https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/connect

[2020-08-17 09:25] sachinunravel commented on #1237
Sure will try to fix this issue

[2020-08-17 11:33] vinhdiesal opened #1247 "Hue: make apps - error when looking for winkerberos on Linux"
To build Hue with make apps, I set my PYTHON_VER=python3.8.

I installed all the dependencies and it would run for awhile until it looks for Kerberos.

Even though I'm on a MAC_OSX/Linux, the compiler will look for winkerberos and then errors out with `no moduled named winkerberos`

I do have kerberos and pykerberos installed.

I looked at the kerberos.py and tried to change winkerberos to kerbero

[2020-08-17 12:02] romainr commented on #1247
What is the full error trace?

[2020-08-17 13:36] alericmckearn opened #1248 "Hue does not switch to delegation token when using HTTPFS in Secure Mode (Kerberos not Simple)"
Describe the bug:

Hue is trying to send the simple authentication protocols to HTTPFS when security_enabled = True instead of the delegation token.  This looks like it happened during a code refactor of [webhdfs.py](https://github.com/cloudera/hue/blob/a7c02b8798dce791e6c2067f3dbe91bcd14f7847/desktop/libs/hadoop/src/hadoop/fs/webhdfs.py)

at issue is the recursive nature of the code.  [_getparams

[2020-08-17 16:23] DRavikanth commented on #1246
@romainr, Thanks for the pointer. I will try to patch sql_alchemy.py in my local and see if this works.

[2020-08-18 02:51] DRavikanth commented on #1246
@romainr, Added the following block in sql_alchemy.py

      self.options['connect_args'] = json.loads(
          self.options.pop('connect_args')
      )

Now, getting the following error:

[SQL: SHOW SCHEMAS]
[17/Aug/2020 19:45:02 -0700] decorators   ERROR    Error running autocomplete
Traceback (most recent call last):
  File "/usr/share/hue/desktop/libs/notebook/src/notebook/decorators.py", li

[2020-08-18 06:20] romainr commented on #1246
And without 'auth' in the Json?

Getting there ;)

On Tue, Aug 18, 2020, 4:51 AM rdeva <notifications@github.com> wrote:

[2020-08-18 10:18] vinhdiesal commented on #1247
the following is the full error trace:

[code]

[2020-08-18 14:00] alericmckearn commented on #1248
I went through and tested this some more and found that reverting the code to use get_delegation_token allows free browse of hdfs.  I then looked further and found a config problem in httpfs causing the issue.  closing.

[2020-08-18 14:00] #1248 closed

[2020-08-18 14:02] DRavikanth commented on #1246
Nice. That seems to work. Do you mind if I open a PR? Also, to which branch I need to open one? master?

[2020-08-18 14:40] romainr commented on #1246
Excellent & Congratz!

Yes, any PR on top of master is more than welcomed!

[2020-08-18 20:03] bweissler-sf commented on #1242
Ok @romainr , latest works.  Thanks again.  One snag is that the Hue pod starts but encounters an error while trying to connect to postgres.  Clearly a timing issue.

The logs reveal this error.
[code]
This causes attempts to hit localhost:8888 to spew the following.
[code]
Forcing the pod to restart by deleting it, results in success.  Maybe some sleep or retry in the entrypoint script would be a

[2020-08-18 20:32] DRavikanth commented on #1246
@romainr, Thanks for your support and patience throughout. Here is the PR: https://github.com/cloudera/hue/pull/1249. Please review and let me know if there is anything else that I need to do. Also, as this merges to master when can this code be available for GA?

[2020-08-19 03:23] romainr commented on #1246
The code is GA as sounds as the PR will be merged into master, and the a more official release is coming soon with 4.8 https://issues.cloudera.org/browse/HUE-9276 and so will contain it

[2020-08-19 03:51] romainr commented on #1242
I think this is a valid point as indeed the Hue pod could have a `initContainers` that makes sure that the DB pod/connect-ivy is there.

However the auto restart of the pod should handle this automatically (as long as it runs the `migrate` command to create the tables. So if waiting a bit does not solve it we could add some logic indeed.

[2020-08-19 06:49] DRavikanth commented on #1246
Thanks for the information @romainr regarding the release. Just want to make a decision on whether we need to maintain this code based on Hue release schedules.

I opened a new PR: https://github.com/cloudera/hue/pull/1250. Please let me know if there is anything else that needs to be done.

[2020-08-19 07:40] #1246 closed

[2020-08-19 07:42] romainr commented on #1246
This is great, thank you!

And FYI: the SQL Parsers are currently being revamped so that it is easier to customize the Apache Calcite based dialect like Presto

[2020-08-19 07:54] romainr commented on #1247
You could try first to add `winkerberos` to the requirement.txt too?

It seems like the package is not there for your OS. What are the exact versions? Typical OS are https://docs.gethue.com/administrator/installation/dependencies/#os-packages

[2020-08-19 07:58] romainr commented on #1239
` AttributeError: 'Config' object has no attribute 'get'` errors often means either Hue is not fully compiles, some modules are not registered in app.reg or the booting/entrypoint somehow is not in dependency order.

Did you first make sure that your dev Hue work properly with Gunicorn?
[code]

[2020-08-19 08:35] vinhdiesal commented on #1247
I don't understand what is requirement.txt, where is that file located and what does that do?
winkerberos is a package that is only for windows and your typical OS includes other operating systems like Linux, and Mac OSx,
How do we bypass kerberos?
Is there a pre-made binary where I can just configure and launch Hue without having to build?

[2020-08-19 14:59] bweissler-sf commented on #1242
So, the problem I had is that the error didn't cause the pod to crash, rather it continue to run, but does not serve requests properly.  I had to force the pod to restart by deleting it.

A pattern I've seen is to perform init functions a few times before failing them and forcing the pod to crash and restart.

[2020-08-19 16:40] DRavikanth commented on #1246
Any idea on when is this planned for @romainr? Do you have a ticket that I can follow?

[2020-08-20 03:03] CrystalRanita commented on #15
I get the same error with hue 4.7.1, Python 2.7.17 on Ubuntu18.04.
After replacing all hueversion.py files' VERSION as @ainilife mentioned make apps without VERSION error.
X => ../../../VERSION
O => VERSION="4.7.1"

Comment out original VERSION:
find . -name "hueversion.py" -exec sed -i "/VERSION/ s/^/#/" {} +

Add new line VERSION="4.7.1"
find . -name "hueversion.py" -exec sh -c 'echo VERSION=\"4

[2020-08-20 04:06] romainr commented on #1246
This is https://issues.cloudera.org/browse/HUE-9429 and @JohanAhlen did a lot already.

They are several parsers already and they work, and the doc will be refreshed soon:
https://docs.gethue.com/developer/parsers/
https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/js/parse/jison/sql/presto/structure.json

[2020-08-21 12:33] tirkarthi opened #1251 "Thread.isAlive was deprecated and removed in Python 3.9"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:

Thread.isAlive was deprecated and removed in Python 3.9. is_alive should be used which is present in both Python 2 and 3 and is the recommended alias.

[code]

Steps to reproduce it?

Hue version or source? master branch

[2020-08-21 12:35] tirkarthi opened #1252 "Deprecation warning due to invalid escape sequences in Python 3.8 and above"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com? No

Describe the bug:

Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/

Steps to reproduce it?

[code]

H

[2020-08-24 03:00] FocusHuang opened #1253 "CentOS8 cannot use "make apps" by default path of python.h"
The include directory path is /usr/include is python3.6m while CentOS8 installed python36-devel by using yum install, but it can't find the configuration in Makefile.vars, so the script "make apps" will not find python.h.

[2020-08-25 13:34] elukey commented on #1239
@romainr thanks a lot for the suggestion, sorry for the lag I was afk :)

Very interesting: I tried `PYTHONPATH=/usr/lib/hue/desktop/libs/:/usr/lib/hue/desktop/core/src/:/usr/lib/hue/build/env/lib/python3.7/site-packages/ /usr/lib/hue/build/env/bin/python3 /usr/lib/hue/build/env/bin/hue rungunicornserver` and it works fine, but the same PYTHONPATH with `/usr/lib/hue/desktop/core/src/desktop/manage

[2020-08-25 14:25] romainr commented on #1239
Weird, it works for me. I bet there is indeed something to fix somewhere

[2020-08-25 17:25] elukey commented on #1239
@romainr I am curious about how you run it - do you use a specific PYTHONPATH or something else? Is it possible to share some details about what is the shell command that you use? It would help me trying to figure out what's wrong :)

[2020-08-26 04:12] romainr commented on #1239
I really do nothing special, just type `./build/env/bin/hue rungunicornserver` and PYTHONPATH is empty.

To try to debug it, you could try to print the paths you get when running the hue command maybe. The virtual env might be incomplete too or with wrong paths (build/env/lib/python3.8/site-packages/hue.pth ...)

[2020-08-26 06:24] elukey commented on #1239
In this case, it works for me as well without PYTHONPATH, but my understanding is that this is for the dev server (so I shouldn't use it for production).

Definitely, but what I was asking in the other comments is what you'd run for production use cases (assuming that what I wrote above about the dev server is right).

Thanks for the patience!

[2020-08-28 07:45] elukey commented on #1239
@romainr ping :)

[2020-08-28 08:33] zhang-jc commented on #1205
@sreenaths Can you tell me how to fix it temporarily? Thanks.

[2020-08-28 12:39] ranavikas007 opened #1254 "Unable to build HUE on Ubuntu 16.04"
Running make as root on Ubuntu 16.04, and followed doc: https://gethue.com/how-to-build-hue-on-ubuntu-14-04-trusty/
**System details:**
[code]
**NPM and Node:**
[code]
Build [cmd: make apps] is failing with following error:
[code]
[code]

[2020-08-29 05:08] harikrishnakanchi opened #1255 "unable to use any sql parser as separate npm package"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?
No

Describe the bug: I tried to use calcite sql parser from gethue npm package.

Steps to reproduce it?
clone [hue_dep](https://github.com/cloudera/hue/tree/master/tools/examples/api/hue_dep) example
remove "hue" dependency
run `npm install gethue`
modify import statement

[2020-08-31 09:59] SoundHearer opened #1256 "drop and create table then got table alreay exists exception"
Execute the SQL script several times like this:
[code]
Then I got the error:
`AlreadyExistsException(message:Table hive.default.sum_tmp already exists)`

Version: Hue 4.5.0 CDH7.1.3

[2020-09-01 11:49] elukey commented on #1239
Updating this issue after some discoveries (clear problem between keyboard and computer :)

The cloudera hue package (from which I was getting settings/etc..) makes a symlink in /usr/lib/hue/desktop/conf to /etc/hue/conf, where I have deployed my config. Running the supervisor without it was causing the defaults to be picked, and hence my confusion about running the dev server.

I was able to run

[2020-09-01 14:00] elukey commented on #1239
This is a follow up error, probably another py2 -> py3 leftover:

[code]

[2020-09-01 15:09] elukey commented on #1239
@romainr I am able to use hue now, there are still some issues here and there but I should be able to sort them out and send a pull request if you are ok. You mentioned in a previous code review that code must be python2 compatible, is there any facilitation in the code to distinguish if python2 or 3 is used ? (like a var PY3 = True etc..). I am asking to figure out how to better add defensive cod

[2020-09-01 15:13] elukey commented on #1239
I see that in some places there is a `sys.version_info[0]` guard.

[2020-09-03 19:41] shawnzhu opened #1257 "Helm chart haven't been updated on helm.gethue.com"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com? No

Describe the bug: Helm chart haven't been updated since **Fri, 26 Jul 2019 15:07:39 GMT**

Steps to reproduce it?

[code]

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

I saw the helm chart from this repo updat

[2020-09-04 14:27] elukey commented on #1239
@romainr finally the pull request builds, I left some comments on it about the LDAP module. When you have a moment, let me know what you think about those. I am currently running that patch with gunicorn and it looks good.

[2020-09-05 14:22] yi-you commented on #1255
throwing what error?
the gethue version should be "^4.7.10"

[2020-09-06 14:25] romainr commented on #1239
Glad to hear and thanks for all the details.

And yes, to keep both Python 2 and 3 compatibility we can use the sys
module. And feel free to send some PRs

On Fri, Sep 4, 2020, 4:27 PM Luca Toscano <notifications@github.com> wrote:

[2020-09-06 17:24] harikrishnakanchi commented on #1255
Hi @yi-you ,

I verified version number is `^4.7.10`.

This is the error I am seeing after following above reproduce steps.
[code]

[2020-09-06 17:34] elukey commented on #1239
@romainr I have updated https://github.com/cloudera/hue/pull/1244 with all the code that I had to change to make my env work with py3 (+ldap +kerberos), let me know your thoughts.. I had some troubles with python-ldap and its usage of binary strings, I found a solution that worked but it may require more inputs/guidance from you.

[2020-09-07 04:36] narnia26 commented on #730
How you solved it??

[2020-09-07 14:47] romainr commented on #1205
https://github.com/cloudera/hue/commit/526e74ffae3c49813b591d58b9b8158df70d2201

Thanks you both!

[2020-09-07 14:47] #1205 closed

[2020-09-07 14:48] romainr commented on #1254
Only 18.04 and 20.04 should be working now (at least with the very latest Hue)
https://docs.gethue.com/administrator/installation/dependencies/#ubuntu

[2020-09-07 14:48] #1254 closed

[2020-09-07 14:50] romainr commented on #1255
Indeed, currently only a local Hue repository should work. @sreenaths has a plan to make the imports work when using the `npm`.

[2020-09-08 05:15] romainr commented on #1239
I see, thanks for the work and research, this looks great! Better to make it work gradually and keep the Py2 as-is like you did.

[2020-09-08 15:51] #1239 closed

[2020-09-09 06:09] CNlanny opened #1258 "when i submit the workflow in hue 3.7 it return me that what happend"
{
    "traceback": [
        [
            "/home/admin/hue-3.7.0-cdh5.4.7/build/env/lib/python2.7/site-packages/Django-1.6.10-py2.7.egg/django/core/handlers/base.py",
            112,
            "get_response",
            "response = wrapped_callback(request, *callback_args, **callback_kwargs)"
        ],
        [
            "/home/admin/hue-3.7.0-cdh5.4.7/build/env/lib/python2.7/site-package

[2020-09-09 18:36] khtruong commented on #1255
+1 I have the same issue and would love to use a sql parser via npm package.

[2020-09-10 12:28] elukey commented on #1239
@romainr we may have to reopen sorry, I missed some use cases. I added a pull request for the first ones, and now I found this:

[code]

This happen when navigating to a page like `hue/jobbrowser/#!id=0094132-200720135922440-oozie-oozi-W`

[2020-09-10 12:31] elukey commented on #1239
Also this happens when I try to submit a hive query:

[code]

[2020-09-10 14:04] elukey opened #1262 ""Object of type bytes is not JSON serializable" while running Hue with Python3"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Nope.

Describe the bug:

The following error appears in the log, and also in a UI's pop up:

[code]

Steps to reproduce it?

This happen when navigating to a page like `hue/jobbrowser/#!id=0094132-200720135922440-oozie-oozi-W`

Hue version or source? (e.g. open source 4.

[2020-09-10 14:24] elukey commented on #1262
More precisely, the graph and XML tabs cause the error to pop up in the interface. The graph panel also seems to dump a PNG file that renders in a weird way (weird characters displayed).

[2020-09-10 15:29] elukey commented on #1262
So there are multiple encoding/decoding issues with the oozie lib apis, but I think I have solved the one described in the description.

There are others related to rendering svgs and xmls, but I don't have a good grasp on what's wrong yet.

[2020-09-10 15:48] elukey commented on #1262
The remaining problem is the following:

![Screen Shot 2020-09-10 at 5 46 38 PM](https://user-images.githubusercontent.com/1536240/92757065-aefd5e00-f38d-11ea-86a3-3747f72025ec.png)

It seems as if the browser didn't know how to interpret the bytes, and/or they get mangled in some function?

[2020-09-10 16:01] elukey opened #1264 "StopIteration exception when running Hive queries on Python3"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:

Sometimes right after clicking the "play" button in the hive panel, I see:

![Screen Shot 2020-09-10 at 6 01 13 PM](https://user-images.githubusercontent.com/1536240/92759084-a4dc5f00-f38f-11ea-814c-43201116375a.png)

And on the logs:

[code]

Steps to

[2020-09-10 17:49] romainr commented on #1262
Indeed, probably the API sends back the data in the wrong format with Python3

[2020-09-10 23:34] DRavikanth opened #1265 "504 Gateway Timeout For Presto SQLAlchemy"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com? No

Describe the bug:
1. Configured Hue to query Presto and simple queries seem to be running fine.
2. However, when issuing long-running queries, Hue throws the following error exactly after 1 minute

`504 Gateway Time-out 504 Gateway Time-out openresty/1.15.8.1 `

There

[2020-09-10 23:54] romainr commented on #1265
This is probably expected, long running queries should run asynchronously in a separate task. It will come with https://issues.cloudera.org/browse/HUE-8738

[2020-09-11 00:31] DRavikanth commented on #1265
Thanks, @romainr. Can you help address the following questions?

1. It looks like the code is shipped, so is it already available in latest docker image?
2. If not will it be available as part of 4.8 release?
3. Can I make code changes as mentioned in the JIRA to our local image and use it?

[2020-09-11 14:20] elukey commented on #1262
I tried to debug a bit and in 3.9 (we used cloudera 5.16 atm) there is no call to the oozie API to get a svg/png, meanwhile there is in 4.7.1.

I am also running oozie 4.3, that has only the support for png, not svg (IIUC it was introduced in 5.x). I tried to manually curl the oozie endpoint, and I see this response:

[code]

The transfer encoding is a little weird, since even https://oozie.apache

[2020-09-11 16:07] romainr commented on #1262
Check for

`${ workflow_graph | n,unicode }`

?

BTW: maybe should not be unicode with Py3. There is no option AFAIK, but should be easy to use png or provide '' so that the Chart display get skipped?

[code]

[2020-09-11 17:10] elukey commented on #1262
Not super familiar with this layout, are you suggesting to skip to display the workflow graph entirely? Because I'd love to keep seeing the graphs if possible :D

[2020-09-11 17:13] elukey commented on #1262
Also I see the call happening in `oozie_api.py`:

[code]

[2020-09-12 10:54] elukey commented on #1262
After a little bit of testing, I found another issue:

[code]

In some workflows I have `<?xml version="1.0" encoding="UTF-8"?>`, and the etree.fromstring() function doesn't like it. I found another way using a different etree function, I am going to send a pull request to fix this. IIUC the png is requested only in case the graph cannot be drawn via XML nodes parsing, right? So I didn't find why

[2020-09-12 15:53] #1262 closed

[2020-09-14 13:41] elukey commented on #1264
After some tests with thrift_version I was able to avoid the StopInteration exceptions, I think those are raised due to the super old Hive version that we run (CDH 5.16 1.1). I see in the code that there are conditionals also for thrift_version >= 7, but if I use 7 I still see the errors. We'll upgrade to Hive 2.2.3 soon-ish (hopefully), but I cannot test with higher hive versions atm :(

The Stop

[2020-09-14 20:42] khtruong commented on #1255
Hi @romainr and @sreenaths! Just wondering, is there a status or eta on this?

[2020-09-21 07:05] boy-xiaozhang opened #1269 "CDH 6.2 Install Hue Error"
File "/opt/cloudera/parcels/CDH-6.2.0-1.cdh6.2.0.p0.967373/lib/hue/desktop/core/src/desktop/appmanager.py", line 53, in _import_module_or_none
    __import__(module)
  File "/opt/cloudera/parcels/CDH-6.2.0-1.cdh6.2.0.p0.967373/lib/hue/apps/filebrowser/src/filebrowser/settings.py", line 25, in <module>
    from azure.adls.webhdfs import PERMISSION_ACTION_ADLS
  File "/opt/cloudera/parcels/CDH-6.2.0

[2020-09-21 15:59] elukey opened #1270 "Usage of iterkeys() in list_oozie_info.mako not compatible with Python 3"
Describe the bug:

When I hit "Configuration" in a oozie coordinator I see Hue reporting a generic server failure and go back to the main landing page. In the logs I see:

[code]

In list_oozie_info.mako there are indeed some occurrences of iterkeys() that are not supported anymore in Python 3, so we should replace those with a conditional, but I am not familiar with .mako enough to make a pull re

[2020-09-21 16:53] elukey commented on #1270
I replaced manually in my test instance `iterkeys` with `keys` and the exception went away (I am not sure though how can we make the old code and the new one in a mako file yet) and a new one popped up:

[code]

[2020-09-21 17:01] elukey commented on #1270
Ok so a quick hack/fix is to modify the following line (in list_oozie_info.mako):

[code]

If I wrap `zip()` with `list(zip())` it works fine.

[2020-09-21 17:53] elukey commented on #1270
@romainr if you have time lemme know your thoughts, I'll send a pull request afterwards :)

[2020-09-21 18:00] romainr commented on #1270
+1 (and no real need of iterators in previous version anyway)

[2020-09-22 06:46] elukey opened #1272 "Oozie job browser's graph do not show red/green bars for failed/successful subworkflows"
Describe the bug:

While testing a failed coordinator run with the new Hue version I noticed that the Oozie's Job browser graph doesn't show anymore red/green bars under the subworkflows failed/completed. It is more difficult to find what was the problem and debug it under this conditions :(

To visualize:

**Current behavior**:
![Screen Shot 2020-09-22 at 8 44 04 AM](https://user-images.githubuse

[2020-09-23 06:35] elukey commented on #1272
@romainr any idea?

[2020-09-23 15:07] #1270 closed

[2020-09-23 23:56] DRavikanth commented on #1265
@romainr, We upgraded hue to the latest version 4.8.0. It looks like https://issues.cloudera.org/browse/HUE-8738 is targeted for 4.8.0 but its still open. Any inputs here, please? When can I expect this to be fixed? This is a critical blocker for us.

TIA

[2020-09-24 07:59] zhang-jc commented on #1205
@sreenaths Thanks a lot!

[2020-09-24 08:41] zhang-jc commented on #1205
@sreenaths Thanks a lot!
I tested this feature and found another problem. When I view the table info from table browser first time, comment is not shown. When I find the table from sources area and refresh, then  comment is shown.

Here are my test steps:
step1: comment is not shown
![屏幕截图_16](https://user-images.githubusercontent.com/18087653/94121037-6a8cba80-fe83-11ea-9159-345d1f0ae79b.png)

st

[2020-09-24 08:46] zhang-jc commented on #1205
@sreenaths @romainr Thanks a lot!
I tested this feature and found another problem. When I view the table info from table browser first time, comment is not shown. When I find the table from sources area and refresh, then comment is shown.

Here are my test steps:
step1: comment is not shown
![](https://user-images.githubusercontent.com/18087653/94122246-e63b3700-fe84-11ea-909a-8fd671abbb08.png)

s

[2020-09-24 15:17] milimetric commented on #1272
We just need to escape special characters here, as per jQuery guidelines "To use any of the meta-characters ( such as  !"#$%&'()*+,./:;<=>?@[\]^`{|}~ ) as a literal part of a name, [it must be escaped with with two backslashes: \\](https://api.jquery.com/category/selectors/)".  I'll send a PR escaping these.

[2020-09-24 16:43] romainr commented on #1272
In case it helps, template filters might even be there and IIRC something similar was already done in the oozie templates somewhere

`from django.template.defaultfilters import escape, escapejs`
https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/templates/common_header_footer_components.mako#L18

https://github.com/cloudera/hue/blob/master/apps/oozie/src/oozie/templates/editor/co

[2020-09-24 16:59] romainr commented on #1205
@zhang-jc would recommend to open a brand new issue and also reference this one there

[2020-09-24 17:28] milimetric commented on #1272
Ah, cool, thx, I'm testing a version with simply `$.escapeSelector` which is built into jquery, but I see the example on `coordinator_properties` does indeed do something similar.  Let me know if you have preferences, I can submit it this way and yall can decide later too.

[2020-09-24 17:44] milimetric commented on #1272
Ok, it looks like using `$.escapeSelector` [here](https://github.com/milimetric/hue/blob/master/apps/oozie/src/oozie/templates/dashboard/list_oozie_workflow.mako#L679) and [here](https://github.com/milimetric/hue/blob/master/apps/oozie/src/oozie/templates/dashboard/list_oozie_workflow_graph.mako#L91) fixes the selector error and allows that code to complete, but some HTTP 500 errors showed up.  Th

[2020-09-24 17:53] elukey commented on #1272
The 500 looks like:

[code]

[2020-09-24 17:58] elukey opened #1273 "Oozie's workflow graph box links lead to HTTP 400s from Oozie's v1 apis"
Describe the bug:

In the Oozie workflow's graph I cannot click on any box link, since I get errors:

![Screen Shot 2020-09-24 at 7 56 25 PM](https://user-images.githubusercontent.com/1536240/94181710-2bb92d80-fea0-11ea-9d31-9c1c8fe1a93b.png)

![Screen Shot 2020-09-24 at 7 57 39 PM](https://user-images.githubusercontent.com/1536240/94181758-3a9fe000-fea0-11ea-8c30-eccc3a440049.png)

Steps to repro

[2020-09-24 18:00] elukey commented on #1273
I have some traces to add to the report.

On the Hue side:

[code]

On the Oozie side:

[code]

If I go in `api2.py:82` I see that `app_id` is empty :(

[2020-09-24 18:01] elukey commented on #1272
Created also https://github.com/cloudera/hue/issues/1273 for another issue, that may or may not be related..

[2020-09-25 08:39] stephbat opened #1275 "HIVE Materialized views not displayed"
Hue version 4.6
I would like to know why the materialized views are not displayed in navigation tree of the Hive Editor.

[2020-09-25 12:15] ywww opened #1276 "hue4.7.1 how to sso cas integration"
hue4.7.1 how to sso cas integration

[2020-09-27 02:06] zhang-jc opened #1277 "Comment is not shown when view the table info from table browser first time"
When I view the table info from table browser first time, comment is not shown. When I find the table from sources area and refresh, then comment is shown.

The related issue is [https://github.com/cloudera/hue/issues/1205](https://github.com/cloudera/hue/issues/1205)

Environment:

- hue version: open source 4.8.0
- OS: CentoOS 7.3
- Python2.7.5
- hive2.1.1

Here are my test steps:
step1: comment

[2020-09-27 02:43] zhang-jc opened #1278 "ValueError: filedescriptor out of range in select()"
My hue instance runs for about two days, the following errors will appear.

[25/Sep/2020 00:10:58 -0700] connection   ERROR    Unhandled exception in connection loop
Traceback (most recent call last):
  File "/opt/hue/build/env/lib/python2.7/site-packages/kazoo-2.0-py2.7.egg/kazoo/protocol/connection.py", line 516, in _connect_attempt
    read_timeout, connect_timeout = self._connect(host, port)

[2020-09-27 22:53] romainr commented on #1275
Please use 4.7+, they should be there

[2020-09-27 22:53] #1275 closed

[2020-09-27 23:27] romainr commented on #1276
https://discourse.gethue.com/

[2020-09-27 23:27] #1276 closed

[2020-09-28 20:40] rawipfel commented on #1052
Hi, I've seen this too. It's a race between Hue's startup and the database backend if one Helm installs with `hue.database.create: true`. The following patch resolves the race. It forces Hue to wait until the database backend is ready to accept a connection. See also https://stackoverflow.com/questions/51079849/kubernetes-wait-for-other-pod-to-be-ready
[code]

[2020-09-28 20:58] romainr commented on #1052
Do you think if it works with other DBs, e.g. MySql for example?

Feel free to send a PR, this is a good improvement!

[2020-09-28 21:00] rawipfel commented on #1052
Thanks @romainr I'll send a PR. It should work with other DBs given parameterized `database.host` and `database.port` assuming they all return "(52) Empty reply from server" when ready.

[2020-09-29 17:08] romainr commented on #1264
Closing if understood correctly

[2020-09-29 17:26] romainr commented on #1052
Excellent, thanks!

And if not tested, maybe better to just {{ if add the initCoinainer fragment if the DB is mysql}}

[2020-09-29 23:42] rawipfel commented on #1052
Not sure about MySQL; I don't see any explicit support for that in the chart yaml. The problem occurs if creating a new PgSQL by setting `hue.database.create: true`. I did think about making the initContainer conditional upon that setting, but it's a good idea to anyway check the dependent DB is available at startup. So if that makes sense I'll send a PR for the patch as-is.

[2020-09-30 00:20] romainr commented on #1052
`P.S. Otoh, maybe you meant make the initContainer conditional upon hue.database.engine: "postgresql_psycopg2"?`

Yes!

If we could wrap the new code in a if checking the engine is postgresql, we will be sure that we don't break the other DB and then it will be easy to add support and test the new ones in follow-up steps!

[2020-09-30 02:05] zhang-jc commented on #1278
It seems that upgrade kazoo can fix this issue. But how? Who can help me?

The related issue is https://github.com/python-zk/kazoo/pull/448

[2020-09-30 02:32] rawipfel commented on #1052
Cool, thanks: #1283

[2020-09-30 02:33] romainr commented on #1278
You could delete https://github.com/cloudera/hue/tree/master/desktop/core/ext-py/kazoo-2.0 and replace it by https://pypi.org/project/kazoo/#files

And also change 2.7.0 to 2.8.0 https://github.com/cloudera/hue/blob/master/desktop/core/requirements.txt#L32

Then `make clean`, `make apps` or fresh clone/git clean.

Feel free to send a pull request too!

[2020-09-30 02:59] zhang-jc commented on #1278
@romainr Thanks a lot! I will.

[2020-09-30 15:17] rawipfel commented on #1052
Thanks for the feedback so far, new PR: #1284

[2020-09-30 17:48] #1052 closed

[2020-09-30 19:29] elukey commented on #1264
@romainr the remaining issue seems to be that `StopIteration` is raised in various part of the hive code, and it triggered it pops up to the UI (making the user very confused). In theory `StopIteration` should not be used in py3 generators, but I am not familiar with the code to make a judgement about how to fix it :(

[2020-09-30 19:32] elukey commented on #1273
@romainr any idea about this one?

[2020-09-30 21:10] romainr commented on #1265
SQLAlchemy is synchronous, while Impala/Hive are using the HiveServer2 API which is async, and so does not block until the end of the query execution.

I would recommend to turn on the task server https://docs.gethue.com/administrator/administration/reference/#task-server and help contributing back/report feedback on the feature.

[2020-09-30 21:20] DRavikanth commented on #1265
Hi @romainr, Thanks for the inputs. Let me try exploring that.

[2020-10-01 05:48] DRavikanth opened #1285 "Hue User impersonation for Presto doesn't work"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com? No

Describe the bug: After enabling Hue to impersonate user in Presto, observing

`(pyhive.exc.OperationalError) Unexpected status code 401 Access Denied: Invalid credentials [SQL: select count(*) from event_detail] (Background on this error at: http://sqlalche.me/e/e3q8)

[2020-10-01 05:51] DRavikanth commented on #1265
The timeout in this particular case happened with the synchronous calls and the issue seems to happen in the NGINX configuration. The timeout at NGINX is configured at 60secs so observing this behaior. After increasing it to like 1 hour we resolved this problem. I will close this issue. I will explore Async feature and will create issue if found any.

nginx.ingress.kubernetes.io/proxy-connect-time

[2020-10-01 05:51] #1265 closed

[2020-10-01 12:15] romainr commented on #1285
`invalid credentials`, please specify them https://docs.gethue.com/administrator/configuration/connectors/#presto

[2020-10-01 12:18] romainr commented on #1265
Thanks for the report! It might then depend on how many concurrent queries are executed via Hue, please send more feedback if you see issues. In the meantime, the Task Server is getting more and more robust.

[2020-10-01 18:46] DRavikanth commented on #1285
Hi @romainr, It looks like my description is malformed. Please check the updated url now. I think it looks like a bug here. When impersonation is enabled, Logged in user is being replaced in the connection url, but the password is the one existing in the connection instead of the logged in user.

[2020-10-01 20:07] romainr commented on #1285
Impersonation means using `user:password` as the credentials but then performing the operations as the other users, so this sounds correct

[2020-10-01 21:14] DRavikanth commented on #1285
When we create a Notebook for Presto via JDBC, it will pop up for the authentication. But, with SQLAlchemy, the user will not be prompted for password. I think this is the problem.

[2020-10-02 16:41] DRavikanth commented on #1285
@romainr, May I know the version of PyHive we are using for Hue?  I tried finding but couldn't locate the version.

[2020-10-03 03:39] romainr commented on #1285
https://github.com/gethue/PyHive bu will probably rebase on https://github.com/dropbox/PyHive soon

[2020-10-07 14:39] sorsby commented on #740
@wing2fly was there any update on this? My team is running into a few issues integrating with Keycloak and the OIDC backend, I will be opening some issues once we've investigated further.

[2020-10-13 13:52] romainr opened #1292 "[docs] Freshen-up the main sections description and Flink interpreter"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:

Steps to reproduce it?

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

[2020-10-13 14:18] #1292 closed

[2020-10-14 12:38] romainr opened #1293 "[popover] Give more room to column names"

[2020-10-15 03:51] romainr opened #1295 "[docs] Refresh the download restriction properties"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:

Steps to reproduce it?

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

[2020-10-15 03:56] romainr opened #1297 "[importer] is failing with "global name '_create_table' is not defined""
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:

Steps to reproduce it?

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

[2020-10-15 04:02] romainr opened #1299 "[libs] Adding additional modules for out of the box Phoenix connector"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:

Steps to reproduce it?

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).

[2020-10-15 04:06] #1295 closed

[2020-10-15 04:47] #1299 closed

[2020-10-15 06:35] #1278 closed

[2020-10-15 07:27] zhang-jc opened #1301 "A compatibility problem of firebox: The text of the menu is not fully displayed."
### Environment:
- hue version: open source 4.8.0
- OS: Ubuntu 18.04.5 LTS
- browser：Firefox 81.0.2 (64 位)
### The problem is as follows.
![](https://user-images.githubusercontent.com/18087653/96090458-ce425a80-0efa-11eb-9fa7-97cb75406535.png)

[2020-10-15 07:36] zhang-jc opened #1302 "A compatibility problem of chrome: The cursor position is not displayed correctly in hive editor."
### Environment
    hue version: open source 4.8.0
    OS: Ubuntu 18.04.5 LTS
    browser：Chrome 86.0.4240.75 (64 位)
### The problem is as follows.
![](https://user-images.githubusercontent.com/18087653/96091319-05fdd200-0efc-11eb-8785-c0e2a3d27091.png)

[2020-10-15 07:53] romainr commented on #1302
This is very weird, do you see it on https://demo.gethue.com/ too? (I guess it might be local depend: so you still have the issue if you temporally switch to English as the local in your browser?)

Note: the translations have not been performed in a while, hence maybe the conflicts

[2020-10-15 20:21] jramineni commented on #1048
I am using sqlalchemy to connect to our database, when I use ${USER}:${PASSWORD}, only a message is displayed and there is no prompt to enter the username and password.

[2020-10-16 02:02] zhang-jc commented on #1302
This problem also appears on [https://demo.gethue.com/](https://demo.gethue.com/).
I test this problem with firefox/chrome on ubuntu/windows/mac. This problem only appears on ubuntu with chrom.
![](https://user-images.githubusercontent.com/18087653/96204145-1febf300-0f96-11eb-9b6c-28ba2fd90aee.png)

[2020-10-16 02:51] zhang-jc commented on #1301
I test this problem with firefox/chrome on ubuntu/windows/mac. This problem appears on ubuntu with firefox and on Mac with firefox.

[2020-10-17 03:57] romainr commented on #1048
Indeed, e.g with

`postgresql://hue:${PASSWORD}@localhost:5432/hue`

I tried with Editor 2, but are you with Editor 1? (execute button is the same as in above screenshot with a little triangle).

We could need to handle again the 401 status and trigger the modal asking for the credentials:

`handleAjaxError(data, callback)`

[code]

![image](https://user-images.githubusercontent.com/17945/96327836

[2020-10-17 03:59] romainr opened #1309 "[notebook2] Show again credential modal on username/password connection string interpolation"
Folllow-up on #1048

Indeed, e.g with

`postgresql://hue:${PASSWORD}@localhost:5432/hue`

I tried with Editor 2, but are you with Editor 1? (execute button is the same as in above screenshot with a little triangle).

We could need to handle again the 401 status and trigger the modal asking for the credentials:

`handleAjaxError(data, callback)`

[code]

![image](https://user-images.githubuserconte

[2020-10-17 04:00] romainr commented on #1048
Created https://github.com/cloudera/hue/issues/1309 to track in its own issue. Please feel free to give it a try

[2020-10-19 05:15] Akhilsnaik commented on #1277
created Patch : https://issues.cloudera.org/browse/HUE-9500 for this isssue.

[2020-10-19 13:58] jramineni commented on #1048
I tried both Notebook1 and Notebook2. IN both cases I do get the message "Missing Username and/or password". But no modal shows asking for credentials. We would need the modal to display to allow user to enter their own database credentials.

[2020-10-19 18:57] milimetric commented on #1272
@romainr some thoughts on the problem and potential ways forward:

After some more debugging, I found a mismatch between element ids rendered to the page by python and string transformations on api data in JS.  I fix one of the places where this is a problem via https://github.com/milimetric/hue/commit/0e3eec447cef56b4825f8d2896597d24c03f1a92#diff-16573ed4215a23c201e61abcca6e4ec68c00e96956fdae65cf

[2020-10-20 06:28] jramineni commented on #1309
Will you please provide the changes so I can build in my environment?

[2020-10-20 07:11] oabao opened #1316 "In hue4.2.0, we can double-click to preview the data details, but double-click in hue4.8.0 cannot preview the data"
In hue4.2.0, we can double-click to preview the data details
![2](https://user-images.githubusercontent.com/17720462/96552258-1b04a780-12e6-11eb-8742-e432d22376eb.PNG)

but double-click in hue4.8.0 cannot preview the data

[2020-10-20 07:11] oabao commented on #1316
HUE4.2.0:
![2](https://user-images.githubusercontent.com/17720462/96552609-8d758780-12e6-11eb-8aaf-c38044d65de2.PNG)

[2020-10-20 07:36] oabao commented on #1316
Sorry, I already know the reason, in hue4.8.0 we can click the hidden arrow on the left side of the data to preview the data

[2020-10-20 07:36] #1316 closed

[2020-10-20 07:36] oabao commented on #1316
Sorry, I already know the reason, in hue4.8.0 we can click the hidden arrow on the left side of the data to preview the data

[2020-10-20 12:45] balajivenka opened #1321 "while running the make apps command in hue 4.8.0 getting the below errors"
![npm -install --no-bin-links-error](https://user-images.githubusercontent.com/60769946/96589834-eb17cd00-1302-11eb-83ba-cc150d00c4d5.JPG)
![Uploading npm run webpack-error.JPG…]()

ERROR: After October 20ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --us

[2020-10-20 12:52] romainr commented on #1309
Need to override
def create_session(self, lang=None, properties=None):

in https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/connectors/sql_alchemy.py#L120

and return the 401

[2020-10-20 14:56] romainr commented on #1321
https://docs.gethue.com/administrator/installation/dependencies/#nodejs

[2020-10-20 15:30] romainr commented on #1272
Yes, this part of Hue is very old and not on part at all with best engineering practices.

Proper components with vuejs have been kickstarted recently https://docs.gethue.com/developer/components/er-diagram/ and starting with the editor and popular widgets lile File Chooser/Inputs etc.. will be gradually ported and improved.

Feel free to send your PR! With regards to the Oozie App we are focusing

[2020-10-20 15:31] romainr commented on #1321
node --version
v10.22.1

[2020-10-20 15:31] #1321 closed

[2020-10-20 15:42] balajivenka commented on #1321
![image](https://user-images.githubusercontent.com/60769946/96610135-ec53f480-1318-11eb-800f-abc78d5578d1.png)
[root@UKSL-SSAHU-01 hue]# node -v
v6.17.1
[root@UKSL-SSAHU-01 hue]# npm -v
3.10.10

[2020-10-20 15:45] balajivenka commented on #1321
the below document is not provided how to install nodejs on centos https://docs.gethue.com/administrator/installation/dependencies/#nodejs

[2020-10-20 15:54] balajivenka commented on #1321
after running the make apps command in ubantu system we are getting the below message wheather this indicates make apps run sucessfully or not no confirmation messages?
![image](https://user-images.githubusercontent.com/60769946/96611483-58832800-131a-11eb-9971-1f34672821f8.png)
0 static files copied to '/home/actian/RP/hue/build/static', 1598 unmodified, 249 post-processed.
make[1]: Leaving direc

[2020-10-21 14:34] JohanAhlen opened #1326 "Jest tests can only resolve relative vue modules"

[2020-10-21 14:51] JohanAhlen opened #1328 "Create a SQL editor Web Component"

[2020-10-21 15:56] #1326 closed

[2020-10-21 19:04] JohanAhlen commented on #1328
#1329 Sets up the initial skeleton SqlEditor component with the execute actions converted to Vue

[2020-10-23 18:07] sandredd opened #1337 "Hue 4.8.0 issue with Py2 vs Py3 when using CherryPy"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com? No

Describe the bug: When i try to start Hue4.8.0 with CherryPy webserver i see below error. When i use Gunicorn hue starts and i'm able to use it.

WARNINGS:
jobbrowser.DagDetails.dag_info: (fields.W342) Setting unique=True on a ForeignKey has the same effect as using a

[2020-10-23 18:59] romainr commented on #1337
Cherrypy is indeed not fully ported to Python3

On Fri, Oct 23, 2020, 8:07 PM sandredd <notifications@github.com> wrote:

[2020-10-26 10:21] elukey commented on #1272
@romainr any chance that you could file the PR? :)

[2020-10-26 17:56] sandredd commented on #1337
Thanks @romainr. Can we proceed to use Gunicorn in production environments then?

[2020-10-26 18:10] romainr commented on #1337
Yes, it is working, at least when using a single worker process. Feel free
to report feedback

On Mon, Oct 26, 2020, 1:56 PM sandredd <notifications@github.com> wrote:

[2020-10-27 11:12] balajivenka opened #1340 "Hue server dashboard error"
Getting the below error message while clicking the dashboard on hue server.

HTTPConnectionPool(host='localhost', port=8983): Max retries exceeded with url: /solr/admin/info/system?user.name=hue&doAs=admin&wt=json (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7eff5d6088e0>: Failed to establish a new connection: [Errno 111] Connection refused'))
![Dashboard Error](ht

[2020-10-27 12:15] romainr commented on #1340
Solr is down or Hue not pointing to it:
https://docs.gethue.com/administrator/configuration/connectors/#dashboards

[2020-10-27 12:15] #1340 closed

[2020-10-27 13:06] balajivenka commented on #1340
solr is down

[2020-10-29 13:26] balajivenka opened #1351 "Solr server could not be contacted properly"
I followed the below link to set up the apapche solr setup its throwing the error not able to see the databases and dashboard part
https://docs.gethue.com/administrator/configuration/connectors/#dashboards
please find the below steps
step1: hue folder
./build/env/bin/pip install sqlalchemy-solr
step2:
added the below code in the database section in pseudo-distributed.ini file but didn't workout
[[

[2020-11-03 08:18] liuxx532 opened #1360 "HUE 4.8.0 query Hive table with Flink in Notebook, result page is confusing."
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?
No

Describe the bug:
![image](https://user-images.githubusercontent.com/12507976/97962249-b110f580-1def-11eb-8257-f4020af00f17.png)

Steps to reproduce it?
1. select connector "Notebook"
2. select "Flink"
3. enter sql "use catalog myhive"        "select * from tbl"

Hue v

[2020-11-03 09:19] liuxx532 commented on #1360
I found this issue is caused by the flink-sql-gateway.
![image](https://user-images.githubusercontent.com/12507976/97967801-b0309180-1df8-11eb-93b3-174885ddac72.png)

[2020-11-03 12:38] balajivenka commented on #1340
hue is not pointig to it

[2020-11-03 13:29] romainr commented on #1360
What is confusing?

On Tue, Nov 3, 2020, 1:19 AM 刘冠雄 <notifications@github.com> wrote:

[2020-11-03 13:30] romainr commented on #1360
Do you have the same issue in the Editor? (Not notebook, there might be a
bug there)

On Tue, Nov 3, 2020, 12:18 AM 刘冠雄 <notifications@github.com> wrote:

[2020-11-04 02:37] liuxx532 commented on #1360
Yep.
![image](https://user-images.githubusercontent.com/12507976/98062870-ca668000-1e89-11eb-8198-ea6e6d936930.png)

[2020-11-04 03:00] romainr commented on #1360
This was probably fixed since 3.8, would you give a try with Hue master?
(there is no 3.9 release yet)

On Tue, Nov 3, 2020 at 6:38 PM 刘冠雄 <notifications@github.com> wrote:

[2020-11-04 11:27] liuxx532 commented on #1360
@romainr  3.8/3.9 or 4.8/4.9?

[2020-11-04 13:15] romainr commented on #1360
Sorry I mean 4.8 and 4.9 obviously :+1:

As it works on https://demo.gethue.com/hue/editor/?type=flink which runs master.

[2020-11-04 18:04] romainr commented on #1360
And some more improvements just landed in master

[2020-11-05 05:52] balajivenka commented on #1351
any update on this issue?

[2020-11-05 06:37] SherlcokHe opened #1366 "What is the meaning of the column when we execute show grant on table table_name?"
When i execute "show grant on table table_name?" in hue, we can get a column ---"grant_option", i just do not understand what's the meaning of this column..

[2020-11-05 07:36] SherlcokHe commented on #1366
when i execute the sql first time, i can see "grant_option=yes",
and after that ,i execute "revoke all on table table_name from user username" and then "grant all on table table_name to user username" the column, "grant_option" comes to "no"

[2020-11-05 08:41] Akhilsnaik commented on #1366
@SherlcokHe  this should be basically an Hive question than an Hue Question .
I hope https://cwiki.apache.org/confluence/display/Hive/SQL+Standard+Based+Hive+Authorization this helps you understand the concept of GRANT in Hive
(assuming you are using hive query editor)

[2020-11-05 08:42] Akhilsnaik commented on #1360
@liuxx532  look for anny exception in /var/log/hue/runcpserver.log and mitigate that to this thread.
might be some already fixed issue.

[2020-11-05 09:04] Akhilsnaik commented on #1351
can you try this way ?

https://gethue.com/solr-search-ui-only/

ie by adding :
[code]

[2020-11-06 08:29] elukey opened #1373 "jobbrowser - pagination for oozie jobs doesn't work"
Describe the bug:

I noticed that when I tried to browse old oozie jobs from the jobbrowser panel the list doesn't get updated (or if it does, it takes tens of seconds).

I don't see logs from Hue related to a failure to fetch from oozie, and I see some JS errors only while fetching the page, not when hitting the >> button, so I am a bit confused about how to debug this further (JS is not my best

[2020-11-06 08:33] elukey commented on #1272
@romainr is https://github.com/milimetric/hue/commit/641840bd46350ea700915657c93703aced78ee23 something that we can consider to commit to bypass some current viz issue?

[2020-11-06 08:33] SherlcokHe commented on #1366
Hi buddy, Thanks for your help.i know how to use hive authorization sql, but i just do not understand the meaning of the columns which i have said in previous.
see, when we execute sql---> "show grant on table customer;"  we can get some of columns like--->database,table,partition,grantor...
we can easily understand what is the meaning of the column named -->database,table...
my confuse is that wh

[2020-11-06 10:10] SherlcokHe commented on #1366
@Akhilsnaik

[2020-11-06 10:24] Akhilsnaik commented on #1366
The Column come's from Hive,
Hue just fetch the result from Hive via Thrift and Then shows it in UI (https://docs.gethue.com/administrator/configuration/connectors/#apache-hive)

even if you try via beeline the result will be same.
you can refer to :  https://cwiki.apache.org/confluence/display/Hive/SQL+Standard+Based+Hive+Authorization or seek Help in Hive github thread to rectify your query.

[2020-11-06 14:05] romainr commented on #1272
This is open to the community. A clean rewrite as a component or little fix case by case are fine. Best best is to move all the rendering logic to the UI but this is much more work so case by case is good for now.

We will look at having SQL query scheduling by end of 2020 or Q1 2021 but that might or might not help for the Oozie piece.

[2020-11-06 14:19] elukey commented on #1272
@romainr yep I understand, but what I meant is what is upstream plan since there are a number of features that are a bit broken, and that were not on previous versions of Hue (like the ones that we currently are migrating from, the one contained on CDH 5.16). I see those as clear regressions from something that was working :)

[2020-11-06 15:46] romainr commented on #1272
Cf. above the focus is currently on the Query Editor v2 for the medium term as there is a lot to improve there and there is unfortunately limited resources :) When the Query Scheduling will be tackled it will be a better time.

[2020-11-09 08:38] hanship0531 opened #1376 "Too many open sessions. Stop a running query before starting a new one"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:
when I access hue, "Too many open sessions. Stop a running query before starting a new one" message occur, and then I can't query database and table
Steps to reproduce it?

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info

[2020-11-10 08:02] #1277 closed

[2020-11-10 09:07] userxiaozhu opened #1377 "Why all oozie workflow stored in the desktop_document2 table ??"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:

I used the AWS EMR HUE to create oozie workflow , the HUE version is 4.7.1,I found all metadata was saved in the table desktop_document2, why not save in oozie_workflow.

Steps to reproduce it?

Hue version or source? (e.g. open source 4.5, CDH 5.16, CD

[2020-11-10 09:47] #1360 closed

[2020-11-10 09:58] elukey commented on #1272
@romainr I agree 100% that resources are limited and that you'd prefer to concentrate on new features, what we are wondering at the moment is if https://github.com/milimetric/hue/commit/641840bd46350ea700915657c93703aced78ee23 is fine in your opinion (since you have a lot more context than us about the codebase) or not. The code change also fixes #1273, we have it applied on our debian package and

[2020-11-11 02:46] xiashei opened #1379 "Where can I get latest image? gethue/hue:latest or gethue/hue:4.8.0 not work"
Is the issue already present in https://github.com/cloudera/hue/issues or discussed in the forum https://discourse.gethue.com?

Describe the bug:
Not the  same as https://demo.gethue.com/
Steps to reproduce it?

Hue version or source? (e.g. open source 4.5, CDH 5.16, CDP 1.0...). System info (e.g. OS, Browser...).
4.8.0.
I want to use some functions in https://demo.gethue.com/. after I run 2 prest

[2020-11-12 01:22] romainr commented on #1377
All the apps shared the save tables, it is generic this way and enable easy reuse and functionalities.

Could you detail more what is your worry?

[2020-11-12 01:22] #1377 closed

[2020-11-12 01:44] romainr commented on #1379
latest --> master branch (but currently only updated every other week, will be fixed soon)
4.8.0 --> 4.8 release branch

In your case you might want a more recent work https://hub.docker.com/r/gethue/hue

[2020-11-12 22:21] jramineni commented on #1309
I did override def create_session(self, lang=None, properties=None):  in sql_alchemy.py
`
    props = super(SqlAlchemyApiSpliceDb, self).create_session(lang, properties)

    LOG.exception('In my create_session')
    properties = dict([(p['name'], p['value']) for p in properties]) if properties is not None else {}
    props['properties'] = {} # We don't store passwords

    if '${' in self.options

[2020-11-13 15:27] romainr commented on #1272
I would recommend small iterative patches like above for the current time for this part of Hue, this would be the best ROI.

Any improvement is warmly welcomed :)

[2020-11-14 09:05] elukey opened #1386 "Oozie's job browser incorrectly renders PNG data"
Describe the bug:
This is the continuation of #1262, in which the problem was firstly described. There are two problems:
1) If Hue can't render the Oozie job's graph from XML, it tries to fetch its PNG representation from Oozie and to render it instead. This ends up into a broken user experience since the PNG's binary data is dumped on the HTML's code without any `<img>` tag:
<img width="651" alt=

[2020-11-14 10:10] ximengyun opened #1387 "Error while compiling statement: FAILED: SemanticException [Error 10072]: Database does not exist: `dby_pro`"
![QQ截图20201114181602](https://user-images.githubusercontent.com/19189288/99144956-7d628500-26a5-11eb-986c-980fc27a699e.png)

version: hue4.8
problem：can't watch the table

[2020-11-14 13:22] romainr commented on #1387
Could you click on the little circle refresh icon? Seems like the DB does not exist.

[2020-11-15 08:17] sreenaths opened #1390 "[parser] Publish Hue parsers as vanilla JS files"
Currently, Hue parsers are published as-it-is (As source code) in GetHue.

Hence the user would need a bundler like webpack to build their code. Plus they would have to add babel, and typescript packages.
This shouldn't be the case. Using GetHue could be as simple as loading / importing a plain javascript file.

Possible Solution: We could package GetHue with pre-built parsers instead of publishin

[2020-11-15 14:25] ximengyun commented on #1387
the DB exist in hive，I can query by hue sql,I click on the little circle refresh icon，but no use

[2020-11-16 12:24] George-zqq commented on #1236
I have a same problem !!! When i dockerize hue in CentOS 7.6 , maybe makefile has a bug.

[2020-11-16 13:30] romainr commented on #1236
It fails because of the check here https://github.com/cloudera/hue/blob/master/Makefile.vars#L62 if Python is not in one of the expected path

[2020-11-16 20:23] jessequinn commented on #966
any resolution on this? Postgres also returns this message on importing an external database.

[2020-11-17 03:44] George-zqq commented on #1236
@romainr Thank ! I found my path of Pthon.h , and rename the path , it works !!!
That's what i do

[root@cfc6eedd2944 hue]# ls -al /usr/include/python3.6m/Python.h
-rw-r--r-- 1 root root 3221 Dec 24  2018 /usr/include/python3.6m/Python.h

[2020-11-17 04:02] zhang-jc opened #1396 "How can i set up load balancer with nginx?"
Environment:
- hue version: open source 4.8.0
- nginx version: nginx/1.16.1
- OS: CentoOS 7.3
- Python2.7.5

[2020-11-17 04:08] romainr commented on #1396
Please ask on the Forum or google for the blog post for this type of question (non bugs)

[2020-11-17 04:08] #1396 closed

[2020-11-17 05:23] Akhilsnaik commented on #966
@jessequinn  ,  the error is due to something not configured well in hue.ini file (or pseudo ini if using the dev version)
Please look into that.

[2020-11-17 10:12] jessequinn commented on #966
it's more than likely related to oozie. I am configuring this now.

[2020-11-17 14:46] #1390 closed

[2020-11-17 17:15] romainr opened #1399 "Add 'show tables' to autocomplete for Flink"

[2020-11-17 17:19] romainr opened #1400 "API - Move counter to query handle"
We should remove the global variable `n` https://github.com/cloudera/hue/blob/master/desktop/libs/notebook/src/notebook/connectors/flink_sql.py#L40
and put the `n` value inside the query handle so that multie users/queries does not have any shared states.

[2020-11-18 06:45] ximengyun commented on #1387
I found the problem,when I refresh the table,hue execute the commend "DESCRIBE FORMATTED `dby_dwd`.`dwd_customer_info_detail`" commond , I try to execute this commend by hive，also have the error "Database does not exist"，this is bug,may be delete the backquote，may be can solve the problem.

[2020-11-18 06:55] ximengyun commented on #1387
I found the problem,when I refresh the table,hue execute the commend "DESCRIBE FORMATTED dby_pro.pro_info_detail" commend , I try to execute this commend by hive client，also have the error "Database does not exist"，this is bug,may be delete the backquote, can solve the problem.

[2020-11-18 11:19] sreenaths opened #1403 "[parser] Live demo docs"
To adds live parser demo in documentation

[2020-11-18 13:55] romainr commented on #1387
Is your hive-site.xml not allowing the backquotes?

`hive.support.quoted.identifiers = none`

Currently Hue expects them to be always there

https://docs.cloudera.com/HDPDocuments/HDP2/HDP-2.5.3/bk_data-access/content/hive-013-feature-quoted-identifiers.html

[2020-11-18 16:14] #1403 closed

[2020-11-18 19:30] romainr opened #1411 "Support parquet files as file input in the importer"

[2020-11-20 07:17] elukey commented on #1373
@romainr hi! Can you give me some suggestions in here? This makes the oozie browsing really unusable.. is it part of the old vs new codebase discussion?

[2020-11-20 13:43] romainr commented on #1373
To be clear, you are on the list of coordinators, not the list of coordinator actions of a coordinator? (I see schedule task)

Some thoughts:

Either the button has no action (could add a little print debug to its click action to confirm) or if there are some running jobs, the page will update itself but it will reset the the pagination (which is a bug, IIRC this was or not fixed a while ago).

If

[2020-11-20 13:55] romainr commented on #1309
First, are you using Editor 1 or 2?

[2020-11-20 14:33] jramineni commented on #1309
Currently using Editor 1.  Had to switch back to Editor 1, since there were some errors with Editor 2

[2020-11-20 16:52] romainr commented on #1309
Could you push it to a branch? (would be easier to test)

`showAuthModal` has a callback, and it should call again create_session(), so that it auths with the inputed credentials.

Left assist does not support it like that yet IIRC, but Editor does so better to focus on Editor only first.

[2020-11-24 09:45] userxiaozhu commented on #898
I have the same question, how did you fix it ?

[2020-11-24 09:55] Akhilsnaik commented on #898
@userxiaozhu  , Might be You need to have : https://issues.cloudera.org/browse/HUE-9027 in your Hue-4.4.0 .
Please use latest Hue where the issue is fixed.

[2020-11-24 11:46] sreenaths opened #1424 "Support Hive query kill action in jobbrowser"
Apache Hive have added KILL QUERY statement support as part of https://issues.apache.org/jira/browse/HIVE-17483. jobbrowser needs to support this statement so that Hive queries can be killed using hive query ids.

[2020-11-24 15:30] #1424 closed

[2020-11-26 10:17] sreenaths opened #1432 "Add doAs header in proxied requests"

[2020-11-30 07:05] #1432 closed

[2020-11-30 09:18] sreenaths opened #1437 "[NPM] Add complete JS source into GetHue"

[2020-11-30 10:10] #1437 closed

[2020-12-01 09:32] inkzuji opened #1443 "Support issues for 'clickhouse'"
1. ClickHouse in hue loads 1000 directly by default, it cannot be loaded by scroll like hive.
2. ClickHouse downloads up to 1000 pieces by default when downloading in hue. Even if "limit" is used, it still cannot download more than 1000 pieces of data.
3. ClickHouse cannot use "create temporary table" in hue.
4. There is a problem of timing failure in ClickHouse in hue

version is 4.8.0

[2020-12-01 13:50] romainr commented on #1443
Are you using the SqlAlchemy dialect? https://docs.gethue.com/administrator/configuration/connectors/#clickhouse

[2020-12-01 15:12] inkzuji commented on #1443
Yes, I using the SqlAlchemy dialect

[2020-12-03 05:54] forrestlmj commented on #1210
I have the same issues.Do you solve the problem?

[2020-12-03 06:27] forrestlmj commented on #1210
I solve the problem adding this code in export_csvxls.py file.
[code]

So the main problem is
 field = text_type(raw_field if raw_field is not None else '') .
If your python environment is python2, the text_type should by unicode, so this line will be like :
field = unicode("你好").

You can open a python terminal and try this code:
![python2](https://user-images.githubusercontent.com/8577744/100972

[2020-12-03 13:32] romainr commented on #1210
The `get_site_encoding()` might be used only in the text/mako templates, and not applied to some Python code maybe.

Maybe something to fix in https://github.com/cloudera/hue/blob/master/desktop/core/src/desktop/settings.py